<div id="wrapper">
        <!--
    <a class="menu_icon" href="#left-panel" id="left-panel-link">
        <i class="cb-navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </i>
    </a>
-->
        <a class="menu-bt sb-toggle-right" id="nav-icon1" href="#menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
        <!--
    <nav class="nav-menu">
        <ul>
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Home">BEHANDELINGEN</a></li>
            <li><a href="#" title="Home">OVER ONS</a></li>
            <li><a href="#" title="Home">CONTACT</a></li>
        </ul>
    </nav>
-->
        <header>
            <div class="wrapper">
                <div class="logo-wrap">
                    <a href="http://192.168.1.152/dermatologie/" title="Dermatologie Hove">
                        <img src="http://192.168.1.152/dermatologie/wp-content/themes/dermatologie/images/logo.svg">
                    </a>
                </div>
                <div class="header-right hd-desktop">
                    <a class="menu-bt sb-toggle-right" id="nav-icon1" href="#menu">
                        <div class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <nav class="nav-menu">
                        <ul><li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-19"><a href="http://192.168.1.152/dermatologie/">Home</a></li>
<li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item menu-item-18"><a href="http://192.168.1.152/dermatologie/behandelingen/" aria-current="page">Behandelingen</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://192.168.1.152/dermatologie/over-ons/">Over ons</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://192.168.1.152/dermatologie/contact/">Contact</a></li>
</ul>                    </nav><!-- #site-navigation -->
                </div>
            </div>
        </header>

        <section class="main-content-layer">

    <section class="main-content-layer">
        <div class="main-content behandelingen">
            <div class="inner-wrapper">
                <div class="middle-content">
                    <h1>
                        Behandelingen                    </h1>
                    <div class="content-col">
                     <p>Een dermatologieconsultatie duurt 15 minuten. Hierin wordt uw patiëntendossier opgemaakt, wordt er naar u geluisterd, uw huid wordt onderzocht en uw behandelingsplan wordt opgemaakt.</p>
<p>Om u een optimale medische zorg te kunnen geven, vragen we graag om slechts 1 hoofdprobleem van uw huid voor te leggen tijdens deze 15 minuten durende huidconsultatie.</p>
                    </div>
                    <div class="content-col">
               
                        <p>Chirugische ingrepen, laserbehandeling, antirimpelbehandeling zijn steeds te plannen na een voorafgaand consultatieoverleg met dokter Katrien Smets.</p>
<p>U kan bij ons terecht voor de diagnose en behandeling van de onderstaande pathologieën.</p>
                    </div>
                </div>
                                        <div class="treatments-row medical">

                        <h3>Medische dermatologie</h3>
                          <div class="treatment-blocks">
                                <div class="treatment-block left">
                                    <p>De diagnose en behandeling van algemene huidziekten.</p>
                                </div>
                                <div class="treatment-block right">
                                    <ul class="">
<li>eczeem</li>
<li>psoriasis</li>
<li>acné</li>
<li>moedervlekjes</li>
<li>rosacea / couperose</li>
<li>wratten</li>
<li>huidsysteemziekten (lupus, vasculitis, …)</li>
</ul>
<ul class="">
<li>huidvlekjes check-up</li>
<li>huidkanker follow-up</li>
<li>huidkanker preventie</li>
<li>melanoom follow-up</li>
<li>pediatrische dermatologie</li>
<li>haar- en nagelpathologie</li>
<li>daglicht Photodynamische Therapie (PDT) voor huidvlekjes, actinische keratose (zonneschade)</li>
</ul>
                                </div>
                          </div>
                    </div>   
                                        <div class="treatments-row medical">

                        <h3>Huidchirurgie</h3>
                          <div class="treatment-blocks">
                                <div class="treatment-block left">
                                    <p>Chirurgische ingrepen op de huid.</p>
                                </div>
                                <div class="treatment-block right">
                                    <ul class="left">
<li>afname <strong>huidbiopten</strong>: weefselafname, al dan niet met hechting</li>
<li>het uitvoeren van <strong>huidexcisie</strong>: wegname van goedaardige of kwaadaardige moedervlekjes met hechtingen</li>
<li>het uitvoeren van <strong>shaving</strong>: het wegschaven van huidletsels, zonder hechtingen</li>
</ul>
                                </div>
                          </div>
                    </div>   
                                        <div class="treatments-row medical">

                        <h3>Cryotherapie</h3>
                          <div class="treatment-blocks">
                                <div class="treatment-block left">
                                    <p>Het bevriezen met vloeibare stikstof.
                            </p>
                                </div>
                                <div class="treatment-block right">
                                    <ul class="">
<li>goedaardige of kwaadaardige huidvlekjes</li>
<li>behandelen van wratten</li>
<li>behandelen van goedaardige zonnevlekjes</li>
</ul>
                                </div>
                          </div>
                    </div>   
                                        <div class="treatments-row medical">

                        <h3>Antirimpelbehandelingen</h3>
                          <div class="treatment-blocks">
                                <div class="treatment-block left">
                                    <p>Inspuitingen met botuline toxine of opvulmaterialen.</p>
                                </div>
                                <div class="treatment-block right">
                                    <ul class="">
<li>antifronsbehandelingen met botuline toxine</li>
<li>antizweetbehandelingen / hyperhidrosis met botuline toxine</li>
<li>antirimpelbheandeling met topvulmiddelen (fillers)</li>
<li>antimigraine behandelingen met botuline toxine</li>
</ul>
                                </div>
                          </div>
                    </div>   
                                        <div class="treatments-row medical">

                        <h3>Medische lasertherapie</h3>
                          <div class="treatment-blocks">
                                <div class="treatment-block left">
                                    <p>Behandelingen met intens licht van het aangetast deel van de huid.</p>
                                </div>
                                <div class="treatment-block right">
                                    <ul class="">
<li>pigmentvlekken</li>
<li>zonnevlekken</li>
<li>wijnvlekken</li>
<li>spiderangioma</li>
<li>oppervlakkige spataders</li>
<li>couperose / rosacea</li>
</ul>
                                </div>
                          </div>
                    </div>   
                                            </div>
        </div>
        <footer class="footer-content">
            <div class="bottom-footer">
                <div class="wrapper">
                    <div class="bottom-content">
                        <div class="inner-wrapper">
                                                            <h2>Maak je afspraak.</h2>
                                                        <div class="block">
                                                                    <strong>Dr. Katrien Smets</strong>
                                                                                                    <a target="_blank" href="mailto:info@dermatologiehove.be" title="info@dermatologiehove.be">info@dermatologiehove.be </a>
                                                                                                    <p>+32 499 14 99 81</p>
                                                            </div>
                            <div class="block">
                                <strong>Privépraktijk</strong>
                                                                    <p>Mortselsesteenweg 204</p>
<p>2540 Hove</p>                                                            </div>
                            <div class="block">
                                                                    <strong>Afspraak maken & annuleren</strong>
                                                                                                    <a target="_blank" href="#" title="Kan enkel online" class="btn-primary">Kan enkel online</a>
                                                                    <a target="" href="#" title="1 afspraak per patiënt" class="query-link">1 afspraak per patiënt</a>
                                                            </div>
                            <div class="block last">
                                                                    <a target="_blank" href="https://progenda.be/calendars/dokter-smets-katrien-dermatologie-hove" title="MAAK JE AFSPRAAK ONLINE" class="btn-primary">MAAK JE AFSPRAAK ONLINE</a>
                                                            </div>
                            <div class="header-right hd-mobile">
                                <a href="#" title="Onze volledige website is in opbouw">Onze volledige website is in opbouw</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-wrapper">
                    <div class="appointment-query">
                        <p>Wat neem ik mee naar een afspraak? Hoe kan ik betalen?</p>
<p><a title="Alle info vindt u hier." href="https://progenda.be/calendars/dokter-smets-katrien-dermatologie-hove" target="_blank" rel="noopener">Alle info vindt u hier.</a></p>
                       <!--  <p>Wat neem ik mee naar een afspraak? Hoe kan ik betalen?</p>
                        <a href="javascript:void(0)" target="_blank">Alle info vindt u hier.</a> -->
                    </div>
                </div>
            </div>
        </footer>
        <div class="wrapper p-0">
            <div class="line"></div>
        </div>
    </section>
    <div class="copyright-text main-content-layer">
        <div class="wrapper p-0">
                        <p>
                <a href="https://www.instagram.com/" target="_blank"><img src="http://192.168.1.152/dermatologie/wp-content/themes/dermatologie/images/insta-black.svg" alt="Follow Me!" title="Follow Me!"></a>Copyright &copy; 2019 Dermatologie Hove. Site by <a href="https://www.vinix.be/nl/home/" target="_blank" title="vinix.be">vinix.be</a>                <a href="http://192.168.1.152/dermatologie" class="footer-icon"><img src="http://192.168.1.152/dermatologie/wp-content/themes/dermatologie/images/copyright-icon.svg)" alt="dermatologiehove" title=""></a>
            </p>
        </div>
    </div>
<script type="text/javascript">
jQuery(document).ready(function (){
    jQuery('.appointment-query a').unwrap();    
});
</script>
<style type="text/css">
.grecaptcha-badge {
    display: none;
}
</style>
</div>