/*
Theme Name: E Global Connect 
Author: Iflair team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: eglobaleducation
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

p.review-rating.allow-edit {
    color: black;
}
.review-rating > span {
    color: black;
}
#product_reviews label{
color: black;	
}
.wrap {
    margin:0 auto;
    max-width: 1180px;
    width:100%;
    padding: 0 20px;
}
.detail-inner {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
.fullwidth-block{
  float: left;
  width:100%;
}
.overlay-bgcolor .all-middleicon-loader {
    position: absolute;
    margin: auto;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlay-bgcolor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

body.loader-body {
    position: relative;
    /*overflow: hidden;*/
}

body.loader-body:before {
    width: 100%;
    position: fixed;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    content: ""; 
    /*overflow: hidden;*/
}

ul#mega-menu-top > li > a:after {
    display: none !important;
}

span.pre-bachelr-label.pre-scholarship {
    top: 0px;
    background-color: #9a9a9a;
}

 .toggle-buttonbox .sorby-main-drodown ul li a {
    cursor: pointer;
}

span.pre-bachelr-label.pre-scholarship:before {
    border-top: 0px solid #9a9a9a;
}

a.canvasjs-chart-credit {
    display: none;
}

span.educator-wish-list {
    cursor: pointer;
}

.educator-heart-icon i.fa.fa-heart.active {
    color: #6bc72c;
}

span.products-wish-list {
    cursor: pointer;
}


span.select2-selection__clear {
    display: none;
}

/* developer css 7 MArch 2019 */
.single-course .right-rivecontbox.equal-height .table-cell {
    padding-bottom: 14px;
    padding-top: 2px;
}

.single-course .left-riveimg-box.equal-height {
    padding-top: 11px;
}


.page-template-page-educator-profile header,
.page-template-page-educator-profile footer {
    display: none;
}


.educator-blocks .school-detail-bottom .rate-discr{
    max-width: 200px !important;
}


section.error-404.not-found h2 {
    font-size: 80px;
}

section.error-404.not-found span.page-title {
    font-size: 26px;
}



.page-template-page-profile .btn.booknow-btn {
    padding: 0 38px;
    display: inline-block;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    color: #fff;
    background-color: #ff6666;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
}



.curt-prev-educations-forms span.error {
    position: relative;
    padding: 6px 0 3px 153px;
    color: #ff0000;
    font-size: 14px;
}

.one-rate:before{
    border-right: 10px solid #c50000!important;
}

.two-rate{
    background-color: #ff0000!important;
}
.two-rate:before{
    border-right: 10px solid #ff0000!important;
}

.theree-rate {
    background-color: #99ca77!important;
}

.theree-rate:before {
    border-right: 10px solid #99ca77!important;    
}

.four-rate {
    background-color: #6fc732!important;
}

.four-rate:before {
    border-right: 10px solid #6fc732!important;
}

label.five-rate {
    background-color: #487d24 !important;
}

.five-rate:before {
    border-right: 10px solid #487d24!important;
}

select#educators-drodown + span.error-review {
    padding-left: 0 !important;
}

form#review-informtions-form .input-name span.error-review {
    padding-left: 151px;
}

.innerbanner-block .inrbanner-leftimg a:before {
    content: "\f044";
    color: #fff;
    font-family: fontawesome;
    font-size: 16px;
    width: 25px;
    height: 25px;
    background-color: #67b536;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
}

.innerbanner-block .inrbanner-leftimg {
    position: relative;
}

.innerbanner-block .inrbanner-leftimg a {
    font-size: 0;
    position: absolute;
    top: 0;
}

/*section.recomended-school {
    display: none;
}*/
.course-edcutor-radio.input-name {
    text-align: center;
    color: white;
}

span.select2-dropdown.select2-dropdown--below .select2-search--dropdown {
     display: block; 
}

.destina-blocks {
    cursor: pointer;
}
.course-details-uni-link > a:hover > h4 {
    color: #7ecd0d;
}
.banner-country-flag>a:hover>span{
    color: #FFFFFF;

}
input#wplc_na_msg_btn {
    font-weight: bold !important;
}

button#wplc_start_chat_btn {
    font-weight: bold !important;
}

#wp-live-chat textarea  {
font-size: 15px;
}

.page-template-default .inner-detailbox ul, .page-template-default .inner-detailbox ol {
    margin-left: 37px !important;
    margin-bottom: 10px;
}