@media(max-width:1140px){
    .inner-bannerbox:before{ width:80%; }
    .school-detail-bottom.all-reviebox .rate-star a.ratenum-like span{ margin-right: 0px; }
    .school-detail-bottom.all-reviebox .review-texts span{ margin-left: 5px; }
    .iner-left-menubox ul li{ margin-right: 20px; }
}

@media(max-width:1100px){
    
    .videogally-box .slider .next1, .videogally-box .slider .prev1{
        width: 300px;
        height: 240px;
    }
    .videogally-box .slider .next1{ margin-left: 148px; }
    .videogally-box .slider .prev1{ margin-left: -455px; }
    .videogally-box .slider .active{
        width: 610px;
        height: 306px;
        margin-left: -310px;
    }
    .videogally-box .slider{ height: 310px; }
    .iner-left-menubox ul li a{ font-size: 16px; }
}


@media(max-width: 1024px) and (min-width: 767px){
    .school-image .image-overlay p {
        font-size: 14px;
        line-height: 17px;
    }
    .school-image .image-overlay{
        padding: 15px 50px 15px 15px;
    }
}
@media(max-width:917px) and (min-width: 768px){
    .school-image .image-overlay p {
        font-size: 11px;
        line-height: 14px;
    }
    .school-image .image-overlay span{
        margin-top:6px;
        font-size: 11px;
        line-height: 15px;
    }
}
@media(max-width:1024px){
    .testmonial-block p br{
        display: none;
    }
    .school-detail-bottom div.rate-star {
        float: left;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .school-detail-bottom div.world-ranks{
        float: left;
    }
    .innerbanner-block .inrbaner-rightcont .rate-star {
        width: auto;
    }
    
    .aboutblock-box p{ font-size: 16px;}
    .blocks-rows .aboutblock-box{ padding: 0 10px;}
    .ourrank-leftbox .school-detail-bottom div.rate-star {
        width: auto;
        margin-bottom: 10px;
    }
    .ourrank-leftbox h3{ margin-bottom: 10px; }
    .rankcout-box {
        padding: 5px 0 20px;
    }
    .enquiry-rightbox .btn.enquiry-btn,
    .enquiry-rightbox .btn.booknow-btn{
        padding: 0 15px;
    }
    .protile-tit-withbtn h3{
        font-size: 22px;
    }
    .personal-infobox .pers-blkbox {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .protile-tit-withbtn a.profile-editlink{ 
        max-width: 88px; 
        font-size: 15px;
    }
    .educat-titbox h3{ font-size: 23px;}
    .educat-titbox span { margin-left: 15px; }
    .enquiry-form-popup .maxwidth-box{
        top:20px;
        transform:inherit;
    }
}

@media(max-width:1023px){
    .course-section .three-block {
        width: 50%;
    }
    .course-section .timeline-flowbox .three-block{
        width:33.33%;
    }
    .dropdownmain-box .drop-labelbox{ width:11%;}
    .dropdownmain-box .dropdown-blocks{padding-right: 20px; width:22.7%; }
    .dropdownmain-box{
        padding: 10px 15px;        
    }
    .top-title-contbox h2{ font-size: 30px; }
    .videogally-box .slider .next1, .videogally-box .slider .prev1 {
        width: 240px;
        height: 190px;
    }
    .videogally-box .slider .active {
        width: 460px;
        height: 230px;
        margin-left: -230px;
    }
    .videogally-box .slider {
        height: 232px;
    }
    .videogally-box .slider .next1 {
        margin-left: 70px;
    }
    .videogally-box .slider .prev1 {
        margin-left: -315px;
    }
    .course-section.videogallery-section .wrapper {
        max-width: 800px;
    }
    .ourrank-leftbox{
        max-width: 280px; 
        padding-right: 10px;
    }
    .ourrank-rightbox{
        width: calc(100% - 280px);
    }
    .our-ranking-box{
        padding:20px; 
    }
}

@media(max-width:978px){
    .intro-img-wrap{
        height: auto;
    }
    /*.intro-block{
        padding: 32px 20px;
    }*/
    .intro-block h4 {
        font-size: 17px;
    }
    .introdu-box.middlebox .intro-block{
        margin-top: 17px;
        padding: 45px 40px;
    }
    .intro-block:nth-child(2), .intro-block:nth-child(4){
        padding: 37px 20px;
    }
    .university-detail h3{
        font-size: 20px;
        top: 11px;
    }
    nav.menu li a{
        margin-left: 22px;
    }
    .serach-icon {
        margin-left: 15px;
    }
    .iner-left-menubox ul li{
        margin-right: 15px;
    }
    .enquiry-rightbox .btn.enquiry-btn, .enquiry-rightbox .btn.booknow-btn{
        min-width: 125px;
    }
    section.profile-main-box .two-blocks{ 
        width:100%; 
        margin-bottom: 20px;
    }
    nav.menu{ margin-left: 40px;}
    .header-right a{ font-size: 15px; }
}

@media(max-width:930px){
    .iner-left-menubox ul{ 
        display: none; 
        position: relative;
        z-index: 99;
    }
    .iner-left-menubox a.innermenu-linkbox {
        display: inline-block;
        margin-top: 8px;
    }    
    .iner-left-menubox ul{
        z-index: 99;
    }
    .iner-left-menubox ul li a {
        line-height: normal;
        padding: 6px 0;
        border-bottom: 1px solid #fff;
    }
     .iner-left-menubox ul li:last-child a{ border-bottom: 0px;}
    .enquiry-rightbox{ 
        float: left; margin-top: 0px;
        position: relative;
        z-index: 999;
    }
    
    .iner-left-menubox {
        float: right;        
    }
    section.innerpage-menu-box.greenbgcolor {
        padding: 15px 0;
    }
    .iner-left-menubox.aos-init.aos-animate.open-menu {
        position: absolute;
        z-index: 9;
        width: 96%;
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky{ width:50%; }
    .iner-left-menubox.open-menu ul.in-responsive{
        width:auto;
        margin: 5px -20px;
        padding: 0px 20px;
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .iner-left-menubox .innermenu-linkbox {
        margin-top: 20px;
    }   
    section.innerpage-menu-box.greenbgcolor.fixmenubox .iner-left-menubox.open-menu .innermenu-linkbox {
        margin-top: 0px;
        position: absolute;
        right: 0;
        top: -40px;
    }
}

@media(max-width:899px){
    nav.menu {
        margin-left: 15px;
    }
    .introdu-box.middlebox .intro-block{
        padding: 56px 40px;
    }
    .baner-titbox h3{
        font-size: 20px;
    }
    .innerbanner-block .inrbaner-rightcont{
        padding-left: 15px;
        padding-right: 10px;
    }
    .inrbaner-rightcont .baner-titbox{ padding-right: 30px;}
    .inner-bannerbox:before{ width:95%; }
    .blocks-rows .aboutblock-box{
        width:33.33% !important;
        margin-bottom: 20px;
        padding: 0 15px !important;
    }
    .top-title-contbox h2{ font-size: 28px; }
    .title-contentbox h1{ font-size: 30px; } 
    #mega-menu-wrap-top #mega-menu-top.mega-menu > li > a {
        padding: 0 12px !important;
    }
    .header-right{ margin-top: 33px; }
    .lan-dropdown{ margin: 0 0 0 10px; }
    
}
@media(max-width:839px){
    .footer-column.newsletter{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-column{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter form {
        margin-top: 15px;
        margin: 13px auto;
        margin-top: 13px;
        margin-right: auto;
        margin-bottom: 13px;
        margin-left: auto;
        float: none;
        max-width: 458px;
    }
    
    .newsletter form input{
        width: 67%;
    }
    .newsletter form input[type="submit"]{
        width: 33%;
    }
    nav.menu li a {
        margin-left: 17px;
    }
    .iner-left-menubox ul li a{ font-size: 16px; }
    nav.menu {
        margin-left: 0;
    }
}
@media(max-width:799px){
    nav.menu li a {
        font-size: 15px;
        margin-left: 14px;
    }
}
@media(max-width:768px){
    .school-detail-block{
        width: 100%;
    }
    .intro-block{
        width: 100%;
        top: 0 !important;
        /*transform: none !important;*/
        margin-bottom: 20px !important;
    }
    .introduction{
        height: auto;
    }
}

@media(max-width:767px){
    .banner-course-filter {
        margin-top: 35px;
    }
    .logo-wrap {
        float: left;
        width: 100%;
        text-align: center;
    }
    .header-right {
        margin-top: 7px;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }
    .lan-dropdown {
        margin: 0 4px 0 6px;
    }
    .header-right span {
        display: none;
    }
    
    #push_left > ul {
        display: inline-block;
    }
    .popular-subjects h2{
        margin-bottom: 20px;
    }
    .recomended-school{
        margin-bottom: 0;
        padding: 57px 0 30px;
    }
    .footer-bottom div {
        float: left;
        width: 100%;
        text-align: center;
    }
    .social-icons ul li {
        float: none;
        display: inline-block;
        text-align: center;
    }
    .footer-bottom div.social-icons{
        margin-top: 23px;
    }
    h2 {
        font-size: 23px;
        line-height: 27px;
    }
    .course-filter{
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }
    .banner{
        padding: 56px 0;
        text-align: center;
        height: auto;
    }
    .banner-text{
        margin: 0 auto;
    }
    .course-filter.search-btn{
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    .school-details-wrap h3 {
        font-size: 18px;
    }
    .intro-block{
        transform: none !important;
    }
    .introdu-box{ width:100%; }
    .introdu-box.left .intro-block,
    .introdu-box.right .intro-block,
    .introdu-box.middlebox .intro-block{
        padding: 30px;        
    }
    .introdu-box.left .intro-block {
        margin-bottom: 0 !important;
    }
    .inner-bannerbox:before{ width:100%;}
    .top-title-contbox h2{ font-size: 25px; }
    .title-contentbox h1{ font-size: 28px; }
    .dropdownmain-box .drop-labelbox{ 
        width:100%;
        padding-right: 0px;
        text-align: center;
        margin-bottom: 10px;
    }
    .dropdownmain-box .dropdown-blocks{
        width: 46.4% !important;
        margin-bottom: 10px;
        padding-right: 0px;
        margin: 0 1.8% 10px;
        float:left;
    }
    .course-section .three-block{ width:100%; }
    
    section.innerpage-menu-box {
        padding: 15px 0;
    }
    .enquiry-rightbox{ 
        margin-top: 0px; 
        margin-top: 0px;
        position: absolute;
        z-index: 99;
        left: 15px;
    }
    
    .iner-left-menubox{ width:auto; }
    .top-title-contbox h2{ font-size: 28px; }
    .reviwebox-block{
        padding: 20px 20px 40px 20px;
    }
    .ourrank-leftbox{
        max-width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .ourrank-leftbox .all-reviebox .rate-star {
        float: none;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 0px !important;
    }
    .ourrank-leftbox .school-detail-bottom.all-reviebox {
        margin-bottom: 15px;
    }
    .our-ranking-box{
        padding: 40px 20px;
    }
    .leftrevie-box, .leftcourserevie-box{
        width: 48%;
        margin:0 1%;
    }
    .ourrank-rightbox{
        width: calc(100% - 0px);
        margin-top: 20px; 
        padding: 0 10px;
    }
    .iner-left-menubox.aos-init.aos-animate.open-menu{
        position: relative;
        width: 100%;
    }
    .education-blockbox .educat-leftimg{
        max-width: 185px;
    }
    .education-blockbox .educat-rightcont{
        width: calc(100% - 185px);
    }
    section.course-section.education-blok-section{ padding-top: 10px; padding-bottom: 30px; }
    section.course-section {
        padding: 30px 0;
    }
    .booking-mainbox{ padding-top: 5px; }
    .paddingbox { padding: 20px; }
    .country-locationbox ul li{ font-size: 13px; }
    .business-sectionbox .leftbusinessbox{ width: calc(100% - 0px);}
    .business-sectionbox .rightbusiness-box{ max-width: 100%; }
    .pagetitle-box h2{ font-size: 27px; }
    .pagebanner-content {
        padding-right: 50px;
    }
    .educator-blocks {
        width: 100%;
    }
    .country-locationbox ul li img{
        top:0px;
    }
    .header-right a {
        font-size: 0;
    }
    header{ padding-bottom: 12px; }
    .mega-menu-toggle {
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        display: block !important;
        border-radius: 0px !important;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
    nav.menu{ width:100%; }
    #mega-menu-wrap-top .mega-menu-toggle + #mega-menu-top{
        position: fixed;
        min-height: 100%;
        height: 100%;
        max-width: 250px;
        left: -250px;
        top:0px;
        width:100%;
        background-color: #71b347 !important;
        /*display: block !important;*/
    }
    .mega-menu-toggle.mega-menu-open {
        position: fixed;
        top: 0;
        display: inline-block;
        max-width: 35px;
        /*left: 300px;*/
    }
    #mega-menu-wrap-top .mega-menu-toggle + #mega-menu-top li.mega-menu-item > ul.mega-sub-menu{
        display: block;
    }
    #mega-menu-wrap-top ul.mega-menu > li.mega-menu-item-has-children > a:before {
        content: '\f347';
        position: absolute !important;
        right: 5px;
        color: #fff;
        top: 0;
    }
    #mega-menu-wrap-top ul.mega-menu > li.mega-menu-item-has-children.mega-toggle-on > a:before{
        content: "" !important;
    } 
    .mega-menu-toggle.mega-menu-open .mega-toggle-blocks-right {
        position: fixed;
        left: 250px;
        background-color: #71b347;
        box-shadow: 1px 0px 3px 0px #b1b1b1;        
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky {
        width: 80%;
    }
    .sticky-imgtit .sticky-tibox h4 {
        font-size: 16px;
        line-height: 18px;
    }
    .dropdownmain-box .select2.select2-container {
        width: 50% !important;
        padding: 0 12px;
    }
    .dropdownmain-box .select2.select2-container .select2-selection{
        padding: 1px 10px 0 3px !important;
    }
    .dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow {
        right: 16px;
    }
    .maxwidth-box .padding {
        padding: 20px 20px;
    }
    .enquiry-form-popup .maxwidth-box{
        padding: 0 20px;
    }
    .close-popbox a{
        right: 7px;
        top: -19px;
    }
    .enquiry-form-popup .maxwidth-box{ top:5px; }
}
@media(max-width:639px){
    .innerbanner-block .inrbanner-leftimg{
        max-width: 80px;        
    }
    .innerbanner-block .inrbanner-leftimg img {
        width: 100%;
    }
    .baner-titbox h3{ font-size: 18px; }
    .inner-baner-cont{ max-width: 100%; }
    .innerbanner-block .inrbaner-rightcont{ width: calc(100% - 80px); }
    .inner-bannerbox{ height: auto; min-height: 247px; }
    .reviwebox-block .left-riveimg-box{
        max-width: 100%;
        text-align: center;
    }
    .left-riveimg-box .revrat-box h4{ text-align: center; }
    .left-riveimg-box .school-detail-bottom div.rate-star{
        float: none;
        text-align: center;margin-bottom: 10px; 
    }
    .reviwebox-block .right-rivecontbox{
        width: calc(100% - 0px);
        padding-left: 0;
    }
    .reviwebox-block a.helpfull-btn{
        left: 0;
        max-width: 83px;
        margin: 0 auto;
        bottom: 15px;
    }
    .reviwebox-block {
        padding: 20px 20px 50px 20px;
    }
    .videogally-box .slider .active{ 
        width:340px; 
        height: 170px; 
        margin-left: -173px;
    }
    .videogally-box .slider{ height: 172px; }
}

@media(max-width:500px){
    .reviews .owl-carousel .owl-nav .owl-prev::after, .reviews .owl-carousel .owl-nav .owl-next::after {
        content: none;
    }
    .testmonial-block-innner {
        margin: 0 15px;
        padding: 45px 20px;
    }
    #reviews-slider.owl-carousel .owl-nav .owl-prev{
        left: 0;
    }
    #reviews-slider.owl-carousel .owl-nav .owl-next{
        right: 0;
    }
    h1 {
        font-size: 27px;
        line-height: 29px;
    }
    .school-image .image-overlay p {
        font-size: 12px;
        line-height: 14px;
    }
    .school-image .image-overlay span{
        margin-top:6px;
        font-size: 11px;
        line-height: 15px;
    }
    .testmonial-block-innner{
        margin: 0 22px;
    }
    .top-title-contbox h2{ font-size: 24px; }
    .title-contentbox h1{ font-size: 26px; }
    .blocks-rows .aboutblock-box{ width:50% !important; }
    .aboutblock-box p br{ display: none; }
    .education-blockbox .educat-leftimg { max-width: 100%; }
    .education-blockbox .educat-rightcont {
        width: calc(100% - 0px);
        padding-top: 10px;
        padding-left: 0;
    }
    .pagetitle-box h2{ font-size: 24px; }
    
}
@media(max-width:480px){
    .school-image{
        overflow: hidden;
    }
    .school-image img {
        vertical-align: top;
        width: auto;
        min-height: 163px;
    }    
    .dropdownmain-box .dropdown-blocks{
        width:100% !important;
        margin:0 0 10px;
    }
    .videogally-box .slider .active {
        width: 282px;
        height: 150px;
        margin-left: -143px;
    }
    .videogally-box .slider {
        height: 150px;
    }
    .innerbanner-block .inrbanner-leftimg {
        max-width: 50px;
    }
    .innerbanner-block .inrbaner-rightcont {
        width: calc(100% - 50px);
    }
    .leftrevie-box span, .leftcourserevie-box span {
        font-size: 26px;
    }
    .leftrevie-box, .leftcourserevie-box{
        height: 75px;
        line-height: 18px;
    }    
}

@media(max-width:479px){
/*
    .enquiry-rightbox{
        position: relative;
        left: 0px;
    }
    .enquiry-rightbox .btn.booknow-btn{
        display: block;
        margin-bottom: 5px;
    }
*/
    .enquiry-rightbox{
        position: relative;
        left: 0px;
        width:100%;
    }
    .enquiry-rightbox .btn.booknow-btn,
    .enquiry-rightbox .btn.enquiry-btn{
        min-width: 100%;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    span.enqu-lang-dropdown{ width: 100%; margin-top: 4px; }
    .iner-left-menubox a.innermenu-linkbox{ margin-top: 15px;}
    .enquiry-rightbox .btn.booknow-btn{ margin-bottom: 4px; }
    section.innerpage-menu-box.greenbgcolor {
        padding: 15px 0 10px;
    }
    .toggle-buttonbox .select-sorbybtn, .toggle-buttonbox .selectfor-by {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .toggle-buttonbox .select-sorbybtn span, .toggle-buttonbox .selectfor-by span{
        text-align: left;
        padding: 10px 20px 10px 35px;        
    }
    .toggle-buttonbox .sorby-main-drodown ul{ width:100%; }
    .dropdownmain-box .select2.select2-container {
        width: 100% !important;
        padding: 0;
    }
    .dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow {
        right: 4px;
    }
}

@media(max-width:360px){
    .blocks-rows .aboutblock-box{ width:100% !important; }
}