@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.cf:after,
.cf:before {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}

a {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

html,
body {
    height: 100%;
}

.wrapper {
    max-width: 1180px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;

}

* {
    outline: none;
    box-sizing: border-box;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

img {
    border: none;
    padding: 0;
    margin: 0;
    outline: none !important;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

img,
a {
    outline: none !important;
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-style: normal;
    font-family: 'Source Sans Pro';
}

.banner {
    background-image: url("../images/banner.jpg");
    height: 540px;
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 88px;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}

.banner-text {
    max-width: 500px;
}

.banner-text h1 {
    margin-bottom: 9px;
}

p {
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #000;
}

section {
    float: left;
    width: 100%;
}

header {
    padding: 0;
    /*float: left;*/
    z-index: 99999;
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
    left: 0;
}

.logo-wrap {
    float: left;
    margin-top: 16px;
}

nav.menu {
    margin-left: 72px;
    float: left;
    margin-top: 0px;
}

.header-right {
    margin-top: 35px;
    float: right;
}

nav.menu li {
    float: left;
    display: inline-block;
}

nav.menu li a {
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 31px;
    font-weight: normal;
    color: #000000;
    line-height: 20px;
}

nav.menu li a:hover,
.header-right a:hover {
    color: #70c53a;
}

.lan-dropdown img {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 11px;
}

.lan-dropdown {
    float: right;
    margin: 0 0 0 25px;
}

.profile img {
    position: relative;
    top: -1px;
    margin-right: 7px;
    height: 17px;
    vertical-align: middle;
}

.serach-icon {
    margin-left: 31px;
    color: #9a9a9a;
}

.header-right a {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-transform: capitalize;
}

.banner-course-filter {
    margin-top: 84px;
}

.banner-course-filter-wrap {
    max-width: 1058px;
    float: left;
    width: 100%;
    margin-top: 23px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 10px;
}

.course-filter {
    display: inline-flex;
    background-color: #fff;
    vertical-align: top;
    width: 26.9%;
    margin-right: 0.6%;
    position: relative;
}

.course-filter a {
    line-height: 48px;
    height: 48px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    color: #000;
    padding: 0 15px;
    width: 100%;
}

.course-filter::before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    right: 13px;
    top: 35%;
    color: #000;
}

.course-filter.search-btn {
    background-color: #7fcd0d;
    text-align: center;
    padding: 0;
    max-width: 165px;
    width: 16.1%;
    float: right;
    margin-right: 0;
}

.course-filter.search-btn:hover {
    background-color: #5dab03;
}

/*.course-filter.search-btn:hover .Search{
    color: #7fcd0d;
}*/
.course-filter.search-btn .Search {
    background-color: transparent;
    display: block;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border: none;
    -webkit-appearance: none;
    height: 48px;
    line-height: 48px;
}

.course-filter.search-btn::before {
    content: none;
}

.course-filter ul {
    border: 1px solid #dedede;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #F8F8F8;
}

.course-filter ul li {
    list-style: none;
}

.click-down:hover {
    color: #000;
}

.click-down {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #73a25a;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 33px;
    color: #b3e293;
    font-size: 20px;
}

.popular-subjects {
    padding: 57px 0;
    text-align: center;
    margin-bottom: 25px;
}

.popular-subjects h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
}

.popular-subjects h2::before {
    content: "";
    width: 272px;
    bottom: -14px;
    background-color: #7fcd0d;
    height: 1px;
    margin: 0 auto;
}

.subject-block {
    float: left;
    padding: 22px 4.5%;
}

.popular-subjects .owl-carousel .owl-item .image-text img {
    width: auto;
    display: inline-block;
}

.popular-subjects .owl-carousel .owl-nav.disabled {
    display: block !important;
}

.popular-subjects .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.popular-subjects .owl-carousel .owl-nav .owl-next,
.popular-subjects .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 39px;
    height: 47px;
    background-color: #b8e29d;
}

.popular-subjects .owl-carousel .owl-nav .owl-next:hover::before,
.popular-subjects .owl-carousel .owl-nav .owl-prev:hover::before {
    color: #000;
}

.popular-subjects .owl-carousel .owl-nav .owl-next::before {
    content: "\f054";
    position: absolute;
    font: normal normal normal 14px/0.16 FontAwesome;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
}

.popular-subjects .owl-carousel .owl-nav .owl-prev::before {
    content: "\f053";
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}

.popular-subjects .owl-carousel .owl-nav .owl-next span,
.popular-subjects .owl-carousel .owl-nav .owl-prev span {
    display: none;
}

.owl-carousel .owl-nav .owl-prev {
    left: 17px;
}

.owl-carousel .owl-nav .owl-next {
    right: 17px;
}

.subject-block-inner {
    box-shadow: 0 3px 11px 5px rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.subject-block-inner:hover {
    transform: scale(1.03);
}

.subject-block .image-text {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
}

.sub-image {
    height: 140px;
    position: relative;
}

.sub-image .image-text img {
    width: auto;
    height: auto;
    margin-bottom: 22px;
}

.sub-bottom h4 {
    font-size: 14px;
    color: #4F4F4F;
    line-height: 20px;
    font-weight: normal;
}

.sub-bottom ul li:last-child {
    border-bottom: none;
}

.sub-bottom ul li {
    display: block;
    padding: 19px 0;
    border-bottom: 1px dotted #BBBBBB;
    width: 100%;
    float: left;
}

.sub-bottom ul li h4 {
    float: left;
}

.sub-bottom {
    float: left;
    width: 100%;
    padding: 0 30px 35px;
}

.sub-bottom ul {
    float: left;
    width: 100%;
}

.sub-bottom p {
    float: right;
    font-size: 12px;
    color: #9a9a9a;
    line-height: 20px;
}

.sub-image img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.subject-block .image-text p {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sub-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    margin-bottom: 53px;
}

.view-job {
    color: #439a63;
    display: inline-block;
    border-bottom: 1px solid #439a63;
    margin-top: 7px;
}

.view-job:hover {
    color: #000000;
    border-bottom: 1px solid #000;
}

.all-subject-link a {
    width: 185px;
    height: 43px;
    border: 1px solid #6BC72C;
    line-height: 39px;
    border-radius: 4px;
    color: #6BC72C;
    background-color: transparent;
    display: inline-block;
    margin-top: 28px;
    transition: all 0.2s;
}

.all-subject-link a:hover {
    background-color: #6BC72C;
    color: #fff;
}

.recomended-school {
    padding: 57px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.image-overlay {
    transition: all 0.4s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(119, 255, 29, 0.47);
}

.school-image .image-overlay p {
    text-align: left;
    font-size: 16px;
    color: #fff;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
    line-height: 21px;
    max-width: 417px;
    width: 100%;
}

.school-image .image-overlay span {
    border: 1px solid;
    padding: 3px 10px 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 16px;
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    font-weight: normal;
}

.school-image .image-overlay {
    text-align: left;
    background-color: rgba(11, 33, 47, 0.4);
    padding: 15px;
    color: #fff;
    opacity: 0;
    transition: all 0.6s;
    top: 100%;
    height: 100%;
    overflow: hidden;
}

.school-image .image-overlay .image-overlay-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 99;
}

.school-detail-block:hover .school-image .image-overlay {
    opacity: 1;
    top: 0;
}

.university-block {

    position: relative;
    float: left;
    display: inline-block;
    transition: all 0.4s;
    border-bottom: 6px solid transparent;
}

.university-block:hover {
    border-bottom: 6px solid #70c53a;
}

.university-block:hover::after {
    opacity: 1;
}

.university-block::after {
    background-image: url("../images/down-green-arrow.png");
    background-position: top center;
    position: absolute;
    content: "";
    height: 17px;
    bottom: -23px;
    width: 38px;
    margin: 0 auto;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
}

.block-image img {
    width: 100%;
    vertical-align: top;
}

.university-detail h3 {
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 9px;
    transition: all 0.4s;
    top: 27px;
    position: relative;
    text-shadow: 1px 1px #344634;
}

.university-detail p {
    font-weight: normal;
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.4s;
}

.university-block:hover .university-detail p {
    opacity: 1;
}

.university-block:hover .image-overlay {
    opacity: 0;
}

.university-block:hover .university-detail h3 {
    opacity: 1;
    top: 0;
}

.university-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: table;
    transition: all 0.2s;
}

.detail-inner {
    display: table-cell;
    vertical-align: middle;
}

.school-detail-block {
    float: left;
    width: 48.5%;
    margin-top: 15px;
}

.school-detail-block:nth-child(even) {
    float: right;
}

.school-image img {
    vertical-align: top;
    width: 100%;
}

.university-slider {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}

.school-detail-slider {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    position: relative;
}

.school-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.school-image > img {
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.school-image .image-overlay:before {
    background: rgba(11, 33, 47, 0.5);
    position: absolute;
    top: 0px;
    width: 120%;
    height: 100%;
    left: -38px;
    content: "";
    z-index: 9;
    transform: rotate(-17deg);
    right: 0;
}

.school-detail-block:hover .school-image img {
    overflow: hidden;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

.school-detail-block:hover .image-overlay:before {
    top: -90px;
    bottom: 0;
}

.school-details-wrap {
    background-color: #fff;
    padding: 22px 18px;
    float: left;
    width: 100%;
}

.school-image .like-ico:hover {
    color: #6bc72c;
}

.school-image .like-ico {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    height: 38px;
    width: 38px;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 50%;
    text-align: center;
    z-index: 9;
    line-height: 38px;
}

.school-detail-slider p {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
}

.school-details-wrap h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 23px;
    text-align: left;
}

.school-details-wrap p {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    font-weight: normal;
}

.school-flag {
    display: block;
    float: left;
    margin: 16px 0;
}

.school-detail-bottom {
    float: left;
    width: 100%;
}

.school-detail-bottom p {
    color: #9a9a9a;
    line-height: 12px;
    margin-left: 7px;
}

.school-flag img,
.school-flag p {
    margin-right: 10px;
    float: left;
}

.school-detail-bottom div,
.world-ranks img,
.world-ranks p,
.views-count img,
.views-count p {
    display: inline-block;
    vertical-align: middle;
}

.school-detail-bottom .views-count {
    float: right;
    margin-top: 2px;
}

.recomended-school .bx-viewport {
    padding-bottom: 18px;
}

.school-detail-bottom div.rate-star {
    float: left;
}

.rate-star .like-count i {
    background-color: #f0f0f0;
    color: #6bc72c;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    border-radius: 4px;
    font-size: 13px;
    margin-right: 4px;
}

.recomended-school .bx-wrapper {
    max-width: 100% !important;
    box-shadow: none;
    border: 0;
    background: transparent;
}

.bx-viewport {
    height: auto !important;
}

.school-detail-slider p {
    text-align: left;
    vertical-align: middle;
}

.rate-like {
    vertical-align: bottom;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: 2px;
}

.rate-like img {
    vertical-align: middle;
}

.introduction {
    background: url("../images/introduction.jpg") no-repeat center center;
    background-size: cover;
    height: 553px;
    padding: 61px 0 40px;
    text-align: center;
}

.introduction h2 {
    color: #fff;
}

.intro-block {
    background-color: rgba(67, 154, 34, 0.76);
    display: inline-block;
    width: 32%;
    padding: 32px 40px;
    vertical-align: top;
    text-align: center;
}

.intro-block p {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
}

.reviews {
    background-color: #f5f5f5;
    text-align: center;
    padding: 57px 0;
}

.reviews h4 {
    margin: 16px 0;
    color: #000;
}

.reviews h2 {
    margin-bottom: 41px;
}

.testmonial-block .rate-star {
    margin-bottom: 19px;
}

.reviews .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}

.testmonial-block p {
    font-weight: normal;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}

.testmonial-block {
    text-align: center;
}

.reviews .owl-carousel .owl-stage-outer {
    padding: 58px 0 27px;
}

.testmonial-block-innner {
    background-color: #fff;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.15);
    padding: 45px;
    max-width: 100%;
    margin: 0 10px;
    position: relative;
}

.reviews .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 20px;
    border: 2px solid #6bc72c;
    background-color: #fff;

}

.reviews .owl-dots .owl-dot.active {
    background-color: #6bc72c;
}

.profile-wrap {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -46px;
}

.profile-wrap img {
    border: 4px solid #6bc72c;
    border-radius: 50%;
    height: 84px;
}

h4 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    margin-bottom: 5px;
}

.intro-img-wrap {
    height: 76px;
    margin-bottom: 10px;

}

.intro-block:nth-child(2) {
    transform: perspective(400px) rotateY(20deg);
    padding: 59px 40px;
    position: relative;
    top: -18px;
}

.intro-img-wrap img {
    vertical-align: middle;
}

.intro-block:nth-child(4) {
    transform: perspective(400px) rotateY(-20deg);
    padding: 59px 40px;
    position: relative;
    top: -18px;
}

.bx-wrapper .bx-controls-direction .bx-prev,
.bx-wrapper .bx-controls-direction .bx-next {
    width: 39px;
    font-size: 0;
    height: 47px;
    background-color: #fff;
    opacity: 0.61;
}

.reviews .owl-carousel .owl-nav .owl-prev,
.reviews .owl-carousel .owl-nav .owl-next {
    position: absolute;
    width: 40px;
    height: 46px;
    background-color: #b8e29d;
}

.reviews .owl-carousel .owl-nav .owl-prev::after,
.reviews .owl-carousel .owl-nav .owl-next::after {
    content: "";
    height: 0px;
    width: 43px;
    background-color: #fff;
    position: absolute;
    top: -150%;
    z-index: -1;
    /*box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.15);*/
}

.reviews .owl-carousel .owl-nav .owl-prev {
    left: 10px;
}

.reviews .owl-carousel .owl-nav .owl-next {
    right: 10px;
}

.reviews .owl-carousel .owl-nav .owl-next:hover:before,
.reviews .owl-carousel .owl-nav .owl-prev:hover:before {
    color: #000;
}

.reviews .owl-carousel .owl-nav .owl-prev::after {
    left: 0;
}

.reviews .owl-carousel .owl-nav .owl-next::after {
    right: 0;
}

.bx-wrapper .bx-controls-direction .bx-next::before {
    content: "\f054";
}

.bx-wrapper .bx-controls-direction .bx-prev::before {
    content: "\f053";
}

.bx-wrapper .bx-controls-direction .bx-prev::before,
.bx-wrapper .bx-controls-direction .bx-next::before {
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    top: 50%;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}

.bx-wrapper .bx-controls-direction .bx-prev:hover::before,
.bx-wrapper .bx-controls-direction .bx-next:hover::before {
    color: #6bc72c;
}

.reviews .owl-nav {
    display: block !important;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-23px);
}

.reviews .owl-carousel .owl-nav .owl-prev span,
.reviews .owl-carousel .owl-nav .owl-next span {
    display: none;
}

.reviews .owl-carousel .owl-nav .owl-prev::before {
    content: "\f053";
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}

.reviews .owl-carousel .owl-nav .owl-next::before {
    content: "\f054";
    position: absolute;
    font: normal normal normal 14px/0.16 FontAwesome;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
}

footer h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 15px;
    color: #646464;
    margin-bottom: 8px;
}

footer p,
footer ul li a {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: #8c8c8c;
}

footer ul li a:hover {
    color: #000;
}

.footer-bottom div {

    float: left;
}

.footer-bottom div.wrapper {
    float: none;
}

.footer-bottom div.social-icons {
    float: right;
    margin-top: 10px;
}

.footer-bottom {
    float: left;
    width: 100%;
    background-color: #e7e7e7;
    padding-top: 22px;
    padding-bottom: 19px;
}

footer ul li {
    list-style: none;
    color: #8c8c8c;
    line-height: 20px;
}

.footer-logo img {
    max-height: 58px;
}

footer {
    float: left;
    width: 100%;
    background-color: #ededed;
    padding: 30px 0 0;
}

.footer-column.newsletter {
    width: 33%;
    float: left;
}

.copyrigh-text {
    margin: 20px 0 0 23px;
}

.social-icons ul li {
    float: left;
}

.social-icons ul li a {
    font-size: 21px;
    margin-left: 7px;
    height: 36px;
    width: 36px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #d5d5d5;
    line-height: 36px;
}

footer .social-icons ul li a:hover {
    background-color: #6bc72c !important;
    color: #fff;
}

.newsletter form input {
    height: 37px;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    width: 57%;
    color: #8c8c8c;
    float: left;
}

.newsletter form {
    margin-top: 15px;
}

.newsletter form input[type="submit"] {
    height: 37px;
    border: none;
    padding: 10px;
    font-size: 12px;
    background-color: #6bc72c;
    font-weight: normal;
    width: 27%;
    color: #fff;
    cursor: pointer;
    float: left;
}

.newsletter form input[type="submit"]:hover {
    background-color: #8c8c8c;
}

.social-icons ul li:first-child a {
    background-color: #23599c;
}

.social-icons ul li:nth-child(2) a {
    background-color: #0077ab;
}

.social-icons ul li:nth-child(3) a {
    background-color: #00aef1;
}

.social-icons ul li:nth-child(4) a {
    background-color: #e5312b;
}

.footer-top {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.footer-column.newsletter {
    width: 43%;
    float: left;
}

.footer-column {
    float: right;
    width: 18%;
}

*---------responsive menu css start----------*/ .pbutton {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #010042 !important;
    background-origin: padding-box;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: none;
    height: 38px !important;
    width: 46px;
    position: absolute;
    top: 0 !important;
    left: 234px;
}

.button {
    border: medium none;
    cursor: pointer;
    height: 45px;
    outline: medium none;
    padding: 0;
    width: 40px;
    top: 0;
    background-color: #71b347;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.button .fa.fa-bars {
    font-size: 21px;
    color: #fff;
}

.prl_menu {
    height: 100%;
}

#push_left > ul {
    background-color: #71b347 !important;
    display: none;
}

.push_left_close.prl_menu {
    z-index: 12345;
}

#push_left ul li {
    border-bottom: 1px solid #84c65a;
}

#push_left ul li:last-child {
    border-bottom: none;
}

.list_menu li {
    position: relative;
}

.list_menu a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    padding: 10px 10px 10px 14px !important;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
}

.list_menu a:hover,
.list_menu a.active {
    color: #373737;
}

.button:hover .fa.fa-bars {
    color: #373737;
}

.push_left_open,
.push_left_close {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list_menu {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    height: 100%;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 234px;
}

.prl_menu {
    height: 100%;
}

.push_left_open {
    left: 0 !important;
}

.push_left_close {
    left: -234px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#push_left > ul {
    background-color: #63883f;
    float: left;
    padding-top: 38px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.introdu-box {
    display: inline-block;
    width: 32%;
}

.introdu-box.left .intro-block {
    -ms-transform: perspective(400px) rotateY(20deg);
    -moz-transform: perspective(400px) rotateY(20deg);
    -webkit-transform: perspective(400px) rotateY(20deg);
    transform: perspective(400px) rotateY(20deg);
    padding: 52px 40px;
}

.introdu-box.right .intro-block {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    -moz-transform: perspective(400px) rotateY(-20deg);
    -ms-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    padding: 52px 40px;
}

.introdu-box.middlebox .intro-block {
    margin-top: 20px;
}

.intro-block {
    width: 100%;
}

/*---------responsive menu css end----------*/
#reviews-slider.owl-caraousel .animated {
    animation-duration: 3000ms;
    animation-fill-mode: both;
}

/* inner pages start */

.inner-bannerbox {
    height: 247px;
    background-size: cover;
    margin-top: 88px;
    background-position: center;
    position: relative;
}

.inner-bannerbox:before {
    background-image: url(../images/inner-banner-cover.png);
    content: "";
    height: 100%;
    position: absolute;
    width: 63%;
    left: 0px;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.topgreen-border {
    border-top: 6px solid #71c63b;
}

.inner-baner-cont {
    position: relative;
    max-width: 525px;
    width: 100%;
    padding: 15px 0;
}

.breadcrum-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrum-box ul li {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    float: left;
    position: relative;
}

.breadcrum-box ul li a,
.breadcrum-box ul li label {
    font-size: 12px;
    color: #fff;
    display: block;
}

.breadcrum-box ul li:after {
    content: "/";
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 12px;
    right: 3px;
}

.breadcrum-box ul li:last-child:after {
    display: none;
}

/*
.breadcrum-box ul li:nth-last-child(2) a {
    border-bottom: 1px solid;
}
*/

.breadcrum-box ul li {
    border-bottom: 1px solid #fff;
}

.breadcrum-box ul li:last-child {
    border-bottom: 0px;
}

.breadcrum-box ul li:first-child {
    border-bottom: 0px;
}

.breadcrum-box ul li a:hover {
    color: #69b937;
}

.innerbanner-block {
    padding-top: 35px;
}

body.page-template-page-educator .innerbanner-block{ padding-top: 18px; }

.innerbanner-block .inrbanner-leftimg {
    float: left;
    max-width: 140px;
    width: 100%;
}

.innerbanner-block .inrbaner-rightcont {
    float: left;
    padding-left: 22px;
    width: calc(100% - 140px);
}

.inrbaner-rightcont .baner-titbox {
    position: relative;
}

.baner-titbox h3 {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
    padding-right: 30px;
}

.baner-titbox span {
    position: absolute;
    right: 0;
    top: 4px;
    width: 26px;
    height: 26px;
    background-color: #7fcd0d;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
}

.banner-country-flag span {
    vertical-align: middle;
}

.banner-country-flag span:last-child {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.inrbaner-rightcont .school-detail-bottom {
    padding-top: 8px;
}

.inrbaner-rightcont .school-detail-bottom .review-texts span {
    font-weight: bold;
    color: #fff;
}

.inrbaner-rightcont .school-detail-bottom .review-texts {
    margin-left: 18px;
    margin-top: 5px;
}

.inrbaner-rightcont .school-detail-bottom .review-texts span {
    font-weight: bold;
    color: #fff;
    line-height: 29px;
    border-bottom: 1px dotted;
}

.greenbgcolor {
    background-color: #70c53a;
}

.iner-left-menubox {
    float: left;
}

.iner-left-menubox {
    float: left;
}

.iner-left-menubox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.iner-left-menubox ul li {
    display: inline-block;
    padding: 15px 0;
    margin-right: 30px;
}

.iner-left-menubox ul li a {
    display: block;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 36px;
}

.iner-left-menubox ul li a:hover {
    color: #316b0c;
}

.enquiry-rightbox .btn.enquiry-btn {
    display: inline-block;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    color: #fff;
    background-color: #ff9a00;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 0 30px;
}

.enquiry-rightbox {
    float: right;
    margin-top: 15px;
}

.enquiry-rightbox .btn.enquiry-btn:before {
    position: relative;
    content: "";
    display: inline-block;
    width: 13px;
    background-image: url(../images/enquiry-arrow.png);
    background-size: 13px;
    background-position: center;
    height: 13px;
    background-repeat: no-repeat;
    margin-right: 6px;
    top: 1px;
}

.enquiry-rightbox .btn.enquiry-btn:hover {
    background-color: #8c8c8c;
}

.introdu-box:hover {
    transform: scale(1.1) !important;
    transition-delay: 0.01s;
}

section.about-top-contebox {
    padding: 20px 0 40px;
}

.title-contentbox {
    padding-top: 20px;
}

.title-contentbox h1 {
    text-align: left;
    color: #222222;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;
    font-weight: 600;
}

.title-contentbox p {
    color: #555;
    font-size: 14px;
    letter-spacing: 0.012em;
    margin-bottom: 12px;
}

a.arrow-links {
    position: relative;
    padding-right: 15px;
    color: #70c53a;
    text-transform: uppercase;
    display: inline-block;
}

a.arrow-links:after {
    position: absolute;
    content: "\f101";
    font-family: fontawesome;
    right: 0;
}

a.arrow-links:hover {
    color: #646363;
}

.blockpad-box {
    padding-top: 35px;
}

.blocks-rows {
    margin: 0 -15px;
}

.blocks-rows .aboutblock-box {
    display: inline-block;
    width: 18%;
    padding: 0 18px;
    float: left;
    text-align: center;
}

.aboutblock-box .about-icons {
    display: block;
    margin-bottom: 12px;
}

.aboutblock-box .about-icons span {
    width: 90px;
    height: 90px;
    background-color: #eeeeee;
    display: block;
    border-radius: 50%;
    border: 1px solid #70c53a;
    text-align: center;
    margin: 0 auto;
    line-height: 124px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transition-duration: .9s;
}

.aboutblock-box p {
    color: #222;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}

.aboutblock-box p strong {
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.blocks-rows .aboutblock-box:hover .about-icons span {
    transform: rotateY(360deg);

}

.greybg {
    background-color: #f5f5f5;
}

.blocks-rows .aboutblock-box:first-child {
    width: 14%;
    padding-left: 7px;
}

.blocks-rows .aboutblock-box:nth-child(2) {
    width: 19%;
}

.blocks-rows .aboutblock-box:last-child {
    width: 13%;
    padding-right: 0;
}

section.course-section {
    padding: 55px 0;
}

.top-title-contbox {
    text-align: center;
    margin-bottom: 28px;
}

.top-title-contbox h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.top-title-contbox p {
    color: #555;
    font-size: 16px;
}

.dropdownmain-box {
    padding-top: 5px;
    background-color: #fff;
    padding: 10px 25px;
    border-left: 3px solid #7ecd0d;
    border-right: 3px solid #7ecd0d;
    box-shadow: 3px 3px 0px 1px #f0f0f0;
    margin-bottom: 30px;
    position: relative;
    z-index: 9;
}

.dropdownmain-box .drop-labelbox,
.dropdownmain-box .dropdown-blocks {
    display: inline-block;
    vertical-align: middle;
}

.dropdownmain-box .drop-labelbox label {
    font-size: 14px;
    color: #000;
}

.dropdownmain-box .dropdown-blocks {
    width: 23.9%;
    padding-right: 30px;
    float: left;
}

.dropdownmain-box .dropdown-blocks:last-child {
    padding-right: 0px;
}

.dropdownmain-box .dropdown-blocks:last-child {
    padding-right: 0px;
    width: 20.8%;
}

.dropdownmain-box .drop-labelbox {
    padding-right: 15px;
    float: left;
    line-height: 32px;
    width: 7.5%;
}

.chosen-container a.chosen-single {
    height: 33px !important;
    background: #f9f9f9 !important;
    border-radius: 0px !important;
    border: 1px solid #e6e4e4 !important;
    box-shadow: none !important;
    line-height: 29px !important;
    font-size: 14px;
    padding: 0 25px 0 13px !important;
}

.chosen-container a.chosen-single div b {
    background: none !important;
}

.chosen-container a.chosen-single div b:before {
    content: "\f107";
    font-family: fontawesome;
    font-size: 16px;
}

.chosen-container .chosen-drop .chosen-search {
    display: none;
}

.chosen-container .chosen-drop .chosen-results {
    padding: 0;
    margin: 0;
}

.chosen-container .chosen-drop ul li {
    padding: 7px 13px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #000;
}

.chosen-container .chosen-drop {
    box-shadow: 0px 2px 3px #dcdcdc !important;
    border-radius: 0 !important;
    border: 1px solid #e6e4e4 !important;
}

.chosen-container .chosen-drop ul li.highlighted {
    background: #25ca00;
}

.chosen-container a.chosen-single > div {
    width: 23px;
}

.rows {
    margin: 0 -15px;
}

.three-block {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.white-bg {
    background-color: #fff;
}

.course-imgblock {
    position: relative;
    border-bottom: 3px solid #7ecd0d;
}

.course-imgblock .imgmain-box,
.course-imgblock .imgmain-box img {
    display: block;
    width: 100%;
}

.course-imgblock .imgmain-box{
    overflow: hidden;
}

.white-bg.ourcourse-block:hover .imgmain-box img{
    overflow: hidden;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

.course-imgblock .imgmain-box img{
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.course-imgblock .course-heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    display: block;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}

.course-imgblock .course-heart-icon a {
    color: #fff;
    font-size: 20px;
}

.course-imgblock .pre-bachelr-label img {
    vertical-align: middle;
}

.course-imgblock .pre-bachelr-label p {
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: middle;
    color: #fff;
}

.course-imgblock .pre-bachelr-label:before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 0px solid transparent;
    border-top: 7px solid #439a00;
    position: absolute;
    left: 0;
    bottom: -7px;
}

.course-imgblock .inner-titwid-img {
    position: absolute;
    bottom: 0;
    padding: 0 15px 10px 15px;
    width: 100%;
    z-index: 9;
}

.inner-titwid-img .min-imgbox {
    float: left;
    max-width: 65px;
    width: 100%;
}

.inner-titwid-img .ourcourse-contbox {
    float: left;
    width: calc(100% - 65px);
    padding-left: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.inner-titwid-img .ourcourse-contbox h4 {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.fulcour-flatbox span {
    display: inline-block;
}

.fulcour-flatbox span.small-flg-span {
    float: left;
}

.fulcour-flatbox span.ratio-icon-box {
    float: right;
}

.fulcour-flatbox span img {
    vertical-align: middle;
}

.fulcour-flatbox span p {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
}

.ourcourse-block .our-courseblk-content {
    padding: 25px 20px 65px;
    position: relative;
    background-color: #fff;
}

.ourcourse-block .our-courseblk-content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-bottom: 31px;
}

.our-courseblk-content .school-detail-bottom a.ratenum-like span {
    display: inline-block;
    width: 33px;
    height: 28px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background-image: url(../images/rating-number.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    line-height: 26px;
    padding-right: 7px;
    font-size: 18px;
}

.our-courseblk-content .school-detail-bottom .review-texts {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 12px;
}

.ourcourse-block .our-courseblk-content .year-view-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 11px 20px 13px;
    border-top: 1px solid #dedede;
}

.ourcourse-block .our-courseblk-content .year-view-box span {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
}

.ourcourse-block .our-courseblk-content .year-view-box span.rate-leftbox {
    float: left;
}

.ourcourse-block .our-courseblk-content .year-view-box span.rate-ritbox {
    float: right;
}

.ourcourse-block .our-courseblk-content .year-view-box span.rate-leftbox i {
    font-size: 24px;
    font-weight: bold;
    color: #7fcd0d;
    vertical-align: top;
    display: inline-block;
    margin: 0 7px;
    line-height: 18px;
}

.ourcourse-block .our-courseblk-content .year-view-box span.rate-ritbox img {
    vertical-align: middle;
    margin-right: 5px;
}

.course-imgblock .timeline-flowbox {
    position: absolute;
    top: 0;
    width: 85%;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.timelinebox p {
    font-size: 12px;
    margin: 0;
    line-height: 16px;
    color: #fff;
}

.course-imgblock:before {
    content: "";
    background: rgba(11, 33, 47, 0.5);
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    top:100%;
    z-index: 9;
}

.ourcourse-block:hover .course-imgblock:before,
.ourcourse-block:hover .timeline-flowbox,
.ourcourse-block:hover .ourcourse-contbox {
    visibility: visible;
    opacity: 1;
    top:0;
    z-index: 9;
    height: 100%;
}

.ourcourse-block:hover .pre-bachelr-label {
    opacity: 0;
    visibility: hidden;
}

section.course-section .rows.cf .three-block {
    margin-bottom: 30px;
}

.course-imgblock .course-heart-icon .addtoshort-btn {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: 0;
    padding: 0 10px;
    z-index: 999;
    border-radius: 2px;
    min-width: 120px;
    margin-top: 12px;
    display: none;
}

.course-imgblock .course-heart-icon .addtoshort-btn a {
    font-size: 14px;
    display: block;
    line-height: normal;
    color: #000;
    line-height: 29px;
}

.course-imgblock .course-heart-icon .addtoshort-btn:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 29px;
    right: 9px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}

.course-imgblock .course-heart-icon a.course-heart-click:hover {
    color: #abf541;
}

.course-imgblock .course-heart-icon .addtoshort-btn a:hover {
    color: #7ecd0d;
}

.ourcourse-block {
    box-shadow: 0px 1px 10px 6px #e6e6e6;
}

ul.pagination-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.pagination-nav li {
    display: inline-block;
    margin: 0 3px;
}

ul.pagination-nav li a.nav-links {
    width: 30px;
    height: 30px;
    display: block;
    background-color: #fff;
    line-height: 27px;
    border: 1px solid #7fcd0d;
    color: #7fcd0d;
    font-size: 14px;
}

ul.pagination-nav li a.nav-links:hover{
    background-color: #7fcd0d;
    color: #fff;
    line-height: 27px;
    width: 30px;
    height: 30px;
}

ul.pagination-nav li span.current{
    border: 1px solid #7fcd0d;
    background-color: #7fcd0d;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 27px;
    vertical-align: middle;
}

ul.pagination-nav li a.nav-links.prev-link,
ul.pagination-nav li a.nav-links.next-link {
    background: transparent;
    width: auto;
    border: none;
    /*border-bottom: 1px solid #7fcd0d;*/
    height: auto;
    position: relative;
}

ul.pagination-nav li a.nav-links.prev-link:hover,
ul.pagination-nav li a.nav-links.next-link:hover {
    color: #729c34;
}


ul.pagination-nav li a.nav-links.prev-link:before,
ul.pagination-nav li a.nav-links.next-link:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #7fcd0d;
    bottom: 3px;
}

.four-blocks {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.our-ranking-box {
    padding: 40px 48px;
    box-shadow: 0px 1px 10px 6px #efefef;
    border-radius: 4px;
    background-color: #fff;
}

.ourrank-leftbox {
    float: left;
    max-width: 380px;
    width: 100%; 
    padding-right: 20px;
}

.ourrank-rightbox {
    float: left;
    width: calc(100% - 380px);
    height: 250px;
    
}

.ourrank-leftbox h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 22px;
    line-height: 26px;
    margin-top: -4px;
}

.school-detail-bottom.all-reviebox .rate-star a.ratenum-like span {
    display: inline-block;
    width: 49px;
    height: 37px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background-image: url(../images/rating-number.png);
    background-size: 46px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    line-height: 35px;
    padding-right: 7px;
    font-size: 16px;
    padding-right: 11px;
}

.school-detail-bottom.all-reviebox .rate-star a.ratenum-like {
    margin-left: 3px;
}

.school-detail-bottom.all-reviebox .review-texts span {
    font-size: 14px;
    margin-left: 10px;
}

.leftrevie-box,
.leftcourserevie-box {
    width: 33%;
    float: left;
    background-color: #8ad023;
    border-radius: 5px;
    height: 80px;
    line-height: 24px;
    text-align: center;
    margin-right: 9px;
    color: #fff;
    font-size: 14px;
    padding: 7px 5px;
}

.leftrevie-box span,
.leftcourserevie-box span {
    font-size: 30px;
    line-height: normal;

}

.leftrevie-box p {
    line-height: normal;
    margin: 0;
    color: #fff;
}

.leftcourserevie-box {
    width: 43%;
}

.leftcourserevie-box p {
    color: #fff;
}

.rankcout-box {
    padding: 20px 0;
}

.ranking-box {
    position: relative;
}

.ranking-box:after {
    content: "";
    right: 7px;
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #e5e5e5;
    top: 0;
}

.ranking-box:last-child:after {
    display: none;
}

.rankicon-boxs .ranking-box {
    width: 21.5%;
}

.rankicon-boxs .ranking-box:first-child:after {
    right: 1px;
}

.ourrank-rightbox img {
    width: 100%;
}

.course-section.ranking-section .top-title-contbox {
    margin-bottom: 40px;
}

.top-title-contbox {
    text-align: center;
}

.our-review-section {
    padding: 10px 0;
}

.reviwebox-block {
    box-shadow: 0px 1px 10px 6px #efefef;
    margin-bottom: 22px;
    padding: 20px 20px 17px 20px;
    position: relative;
    background-color: #fff;
}

.reviwebox-block .left-riveimg-box {
    float: left;
    max-width: 135px;
    width: 100%;
}

.reviwebox-block .left-riveimg-box span.rie-imgicons {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    float: none;
    display: block;
    border: 3px solid #8ad023;
    border-radius: 50%;
}

.left-riveimg-box .revrat-box h4 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
}

.left-riveimg-box .revrat-box {
    padding-top: 4px;
}

.reviwebox-block .right-rivecontbox {
    float: left;
    width: calc(100% - 135px);
    padding-left: 17px;
    padding-bottom: 0px;
}

.reviwebox-block .right-rivecontbox p {
    color: #000;
    font-size: 14px;
    line-height: 18px;
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    vertical-align: middle;
    display: table-cell;
}

.reviwebox-block a.helpfull-btn {
    position: absolute;
    right: 0px;
    min-width: 83px;
    height: 30px;
    background-color: #8ad023;
    text-align: center;
    color: #fff;
    line-height: 30px;
    bottom: 0;
    border-radius: 1px;
    font-size: 14px;
}

.reviwebox-block a.helpfull-btn:hover {
    background-color: #8c8c8c;
}

.ourreiv-blockbox {
    padding-top: 12px;
}

.right-rivecontbox.equal-height .table-cell {
    padding-bottom: 10px;
}

.block-image {
    display: block;
    max-height: 190px;
    overflow: hidden;
}

.gallery-sld.university-slider {
    padding-top: 10px;
}

.gallery-sld.university-slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 50px;
    left: 0;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    line-height: 45px;
}

.gallery-sld.university-slider .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    right: 0;
    transform: translateY(-50%);
    line-height: 45px;
}

.gallery-sld.university-slider .owl-nav .owl-prev span,
.gallery-sld.university-slider .owl-nav .owl-next span {
    color: #6bc72c;
    font-size: 30px;
}

.gallery-sld.university-slider .owl-nav .owl-prev:hover span,
.gallery-sld.university-slider .owl-nav .owl-next:hover span {
    color: #a2a3a5;
}

.gallery-sld.university-slider .owl-dots {
    text-align: center;
    margin-top: 16px;
}

.gallery-sld.university-slider {
    margin-bottom: 0px;
}

.gallery-sld.university-slider .owl-dots .owl-dot {
    width: 11px;
    border-radius: 50%;
    background-color: #fff;
    height: 11px;
    margin: 0 2px;
    border: 2px solid #70c933;
}

.gallery-sld.university-slider .owl-dots .owl-dot.active {
    background-color: #70c933;
    border: 2px solid #a0a1a2;
}

section.course-section.gallery-section.greybg {
    padding-bottom: 70px;
}

.videogally-box .slider {
    width: 100%;
    height: 400px;
}

.videogally-box .slider .active {
    width: 795px;
    height: 400px;
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    top: 0;
}

.videogally-box .slider .active img {
    width: 100%;
}

.videogally-box .slider .next1,
.videogally-box .slider .prev1 {
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    height: 330px;
    box-shadow: none !important;
    border: none !important;
}

.videogally-box .slider .prev1 {
    margin-left: -510px;
}

.videogally-box .slider .next1 {
    margin-left: 108px;
}

.videogally-box .next_button {
    border: none !important;
    width: 20px !important;
    height: 50px !important;
    line-height: 50px;
    background-color: #89d256 !important;
    opacity: 1 !important;
    color: #fff;
    font-size: 20px;
}

.videogally-box .prev_button {
    border: none !important;
    width: 20px !important;
    height: 50px !important;
    line-height: 50px;
    background-color: #89d256 !important;
    opacity: 1 !important;
    color: #fff;
    font-size: 20px;
    left: 25px !important;
}

.videogally-box .slider .next1:before,
.videogally-box .slider .prev1:before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 244, 0.60);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.videogally-box .prev_button:hover,
.videogally-box .next_button:hover {
    opacity: 0.7 !important;
}

.videogally-box {
    padding-top: 10px;
}

.innermenu-linkbox {
    display: none;
}

.iner-left-menubox a.innermenu-linkbox {
    display: none;
    float: right;
    width: 30px;
    height: 25px;
    padding: 0;
    margin-top: 8px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.iner-left-menubox a.innermenu-linkbox span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.iner-left-menubox a.innermenu-linkbox span:nth-child(1) {
    top: 0px;
}

.iner-left-menubox a.innermenu-linkbox span:nth-child(2) {
    top: 8px;
}

.iner-left-menubox a.innermenu-linkbox span:nth-child(1) {
    top: 16px;
}

.iner-left-menubox.open-menu ul.in-responsive {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #70c53a;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 5px;
}

.our-courseblk-content .school-detail-bottom .rate-star {
    display: inline-block;
    width: auto;
}

.iner-left-menubox.open-menu ul.in-responsive li {
    display: block;
    margin-right: 0;
    padding: 0;
}

.iner-left-menubox.aos-init.aos-animate.open-menu .innermenu-linkbox span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.iner-left-menubox.aos-init.aos-animate.open-menu .innermenu-linkbox span:nth-child(2) {
    left: -60px;
    opacity: 0;
}

.iner-left-menubox.aos-init.aos-animate.open-menu .innermenu-linkbox span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.iner-left-menubox.aos-init.aos-animate.open-menu {
    position: relative;
    z-index: 9;
}

/*.iner-left-menubox.open-menu ul.in-responsive:before {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #70c53a;
    content: "";
    display: inline-block;
    top: 0;
}

.iner-left-menubox.open-menu ul.in-responsive:after {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #70c53a;
    content: "";
    display: inline-block;
    top: 0;
}*/

.banner-country-flag span.dottd-btmborder {
    border-bottom: 1px dotted;
}

.banner-country-flag span {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin-left: 7px;
}

.banner-country-flag span:first-child {
    margin-left: 0px;
}

.inrbaner-rightcont .baner-titbox span.red-heart {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.ratenum-like .white-brd.rating-number-box {
    display: inline-block;
    width: 52px;
    height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-image: url(../images/white-border-rating.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    line-height: 36px;
    padding-right: 9px;
    font-size: 16px;  
}

.banner-country-flag span img {
    vertical-align: middle;
}

.school-detail-bottom .review-texts .noborder-bold {
    font-weight: normal !important;
    border: none !important;
    font-size: 14px;
}

.enquiry-rightbox .btn.booknow-btn {
    padding: 0 38px;
    display: inline-block;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    color: #fff;
    background-color: #ff6666;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
}

.enquiry-rightbox .btn.booknow-btn:before {
    content: "\f07a";
    font-family: fontawesome;
    margin-right: 6px;
    font-size: 14px;
    font-weight: normal;
}

.seemore-btnbox {
    padding-top: 10px;
    margin-bottom: 15px;
}

.seemore-btnbox .seemore-btn {
    min-width: 132px;
    height: 35px;
    text-align: center;
    display: inline-block;
    background-color: #70c53a;
    border-radius: 3px;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.enquiry-rightbox .btn.booknow-btn:hover,
.seemore-btnbox .seemore-btn:hover {
    background-color: #8c8c8c;
}

.seemore-btnbox .seemore-btn i {
    margin-right: 5px;
}

.content-inerlock p {
    font-size: 14px;
    color: #000;
    line-height: 19px;
    margin-bottom: 10px;
}

.content-inerlock p strong {
    font-weight: bold;
    font-size: 16px;
    /*margin-bottom: 8px;*/
    display: inline-block;
}

.content-inerlock .ulli-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-inerlock .ulli-box ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    vertical-align: middle;
    display: block;
    padding-left: 16px;
    text-align: left;
    position: relative;
}

.content-inerlock .ulli-box ul li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #70c53a;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}

.content-inerlock {
    margin-bottom: 15px;
}

.time-datebox span {
    font-size: 14px;
    color: #000;
    line-height: 16px;
    margin-right: 30px;
    max-width: 120px;
    width: 100%;
    display: inline-block;
}

.cour-blockbox .course-detailbox h4 {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: normal;
    margin-bottom: 12px;
    line-height: 28px;
    font-weight: 600;
}

.course-detailbox {
    padding: 15px 30px;
}

.course-detailbox p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

.course-detailbox .view-profi-linkbox {
    text-align: right;
}

.course-detailbox .view-profi-linkbox a.viewpori-btn {
    font-size: 14px;
    color: #7fcd0d;
    position: relative;
    border-bottom: 1px solid #7fcd0d;
    margin-right: 20px;
}

.course-detailbox .view-profi-linkbox a.viewpori-btn i {
    position: absolute;
    right: -20px;
    line-height: 24px;
}

.course-detailbox .view-profi-linkbox a.viewpori-btn:hover {
    color: #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

.course-prov-slider {
    box-shadow: 0px 5px 22px 7px #ededed;
}

.course-prov-slider .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    font-size: 20px;
    width: 38px;
    height: 48px;
    background: rgb(142, 181, 92, 0.7);
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}

.course-prov-slider .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    width: 38px;
    height: 48px;
    background: rgb(142, 181, 92, 0.7);
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}

.course-prov-slider .owl-nav button.owl-prev span,
.course-prov-slider .owl-nav button.owl-next span {

    top: -4px;
    position: relative;
}

.course-prov-slider .owl-nav button.owl-prev:hover,
.course-prov-slider .owl-nav button.owl-next:hover {
    color: #000;
}

section.course-section.cour-provbox .top-title-contbox {
    padding-bottom: 10px;
}

.iner-left-menubox ul li:last-child {
    margin-right: 0px;
}

.banner-text p {
    color: #fff;
}

.country-locationbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.country-locationbox ul li {
    color: #fff;
    position: relative;
}

.country-locationbox ul li span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
}

.country-locationbox ul li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    max-width: 16px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 3px;
}

a.btn.booknow-btn.removebtn-icon:before {
    display: none;
}

span.enqu-lang-dropdown {
    display: inline-block;
    vertical-align: middle;
}

span.enqu-lang-dropdown a.chosen-single {
    display: block;
    height: 36px !important;
    border-radius: 5px !important;
    line-height: 36px !important;
    color: #fff;
    background: #ff9a00 !important;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 0 22px !important;
    border: 0px !important;
}

span.enqu-lang-dropdown a.chosen-single > div {
    width: 30px;
    font-weight: normal;
}

.two-blocks {
    float: left;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.paddingbox {
    padding: 40px;
}

.shadowbox {
    box-shadow: 0px 0px 17px 4px #eaeaea;
}

.profile-main-box {
    padding: 42px 0 22px;
}

.protile-tit-withbtn {
    position: relative;
    margin-bottom: 10px;
}

.protile-tit-withbtn h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
    padding-right: 110px;
}

.protile-tit-withbtn a.profile-editlink {
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #70c53a;
    line-height: 38px;
    max-width: 100px;
    width: 100%;
    color: #4e4e4e;
    font-size: 16px;
}

.protile-tit-withbtn a.profile-editlink:before {
    content: "\f044";
    font-family: fontawesome;
    margin-right: 5px;
}

.personal-infobox .pers-blkbox {
    font-size: 18px;
    margin-bottom: 11px;
}

.personal-infobox label {
    font-weight: 600;
    float: left;
    max-width: 135px;
    width: 100%;
    padding-right: 10px;
}

.personal-infobox span {
    float: left;
    width: calc(100% - 135px);
    word-break: break-all;
}

.personal-infobox {
    padding-top: 5px;
}

.personal-infobox span a {
    color: #70c53a;
}

.personal-infobox span a:hover {
    color: #8c8c8c;
}

.personal-infobox.personal-social-link .pers-blkbox label {
    max-width: 170px;
}

.personal-infobox.personal-social-link .pers-blkbox span {
    width: calc(100% - 170px);
}

.personal-infobox.personal-social-link .pers-blkbox label i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #70c53a;
    color: #fff;
    text-align: center;
    font-size: 13px;
    vertical-align: top;
    line-height: 25px;
    margin-right: 10px;
    font-weight: normal;
}

.protile-tit-withbtn a.profile-editlink:hover {
    background-color: #70c53a;
    color: #fff;
}

section.course-section.education-blok-section {
    padding-top: 40px;
    padding-bottom: 50px;
}

.educat-titbox h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 34.61px;
    display: inline-block;
    vertical-align: middle;
}

.educat-titbox span {
    font-size: 16px;
    color: #bbbbbb;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.educat-titbox {
    margin-bottom: 20px;
}

.education-blockbox {
    background-color: #fff;
    border: 1px solid #70c53a;
    border-radius: 6px;
    padding: 30px 22px;
    box-shadow: 0px 1px 12px 5px #e6e6e6;
    margin-bottom: 15px;
}

.education-blockbox .educat-leftimg {
    max-width: 245px;
    float: left;
    width: 100%;
}

.education-blockbox .educat-leftimg img {
    width: 100%;
}

.education-blockbox .educat-rightcont {
    float: left;
    width: calc(100% - 245px);
    padding-left: 20px;
}

.educat-rightcont .educat-tit h4 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
}

.educat-rightcont .educat-tit span {
    font-size: 16px;
    color: #555555;
    margin-left: 20px;
    vertical-align: middle;
}

.educat-rightcont .educat-tit {
    margin-bottom: 10px;
}

.educat-rightcont p {
    color: #555555;
    line-height: 22px;
}

.educat-twobutton {
    padding-top: 13px;
}

.educat-twobutton a.present-btn {
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    height: 38px;
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    line-height: 35px;
    margin-right: 15px;
    vertical-align: middle;
}

.educat-twobutton a.present-btn:hover {
    background-color: #b0b0b0;
    color: #fff;
}

.educat-twobutton a.educat-edit-btn {
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    height: 38px;
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #70c53a;
    line-height: 35px;
    position: relative;
    vertical-align: middle;
}

.educat-twobutton a.educat-edit-btn:before {
    content: "\f044";
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 5px;
    vertical-align: middle;
}

.educat-twobutton a.educat-edit-btn:hover {
    background-color: #70c53a;
    color: #fff;
}

.add-univertiy-box a.add-univer-btn {
    background-color: #70c53a;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 6px;
    font-weight: 600;
}

.add-univertiy-box a.add-univer-btn:hover {
    background-color: #8c8c8c;
}

.add-univertiy-box {
    padding-top: 15px;
}

.add-univertiy-box a.add-univer-btn:before {
    content: "+";
    margin-right: 5px;
}

.border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.booking-blok .booking-imgblk {
    position: relative;
    border-bottom: 3px solid #7fce0d;
}

.booking-blok .booking-imgblk .pre-bachelr-label {
    position: absolute;
    top: 15px;
    background-color: #7ecd0d;
    padding: 2px 6px;
    left: -5px;
}

.booking-blok .booking-imgblk .pre-bachelr-label:before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 0px solid transparent;
    border-top: 7px solid #439a00;
    position: absolute;
    left: 0;
    bottom: -7px;
}

.booking-blok .booking-imgblk .pre-bachelr-label p {
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    margin-left: 3px;
    vertical-align: middle;
    color: #fff;
}

.booking-blok .booking-imgblk > img {
    width: 100%;
    float: left;
}

.booking-desbox {
    background-color: #fff;
    padding: 20px 20px 65px;
    position: relative;
}

.booking-desbox h3 {
    font-weight: bold;
    line-height: 24.61px;
    margin-bottom: 5px;
    font-size: 20px;
}

.small-headingbox {
    font-size: 18px;
    line-height: 25.61px;
    color: #555555;
    margin-bottom: 10px;
}

.course-datebox .cf span:first-child {
    width: 40%;
}

.course-datebox span {
    font-size: 14px;
    color: #222;
    float: left;
    width: 60%;
    margin-bottom: 3px;
}

.policy-box span {
    font-size: 16px;
    color: #222222;
    line-height: 25px;
}

.course-datebox {
    margin-bottom: 8px;
}

.booking-desbox .boking-btnlink {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    border-top: 1px solid #dedede;
    padding: 15px;
}

.booking-desbox .boking-btnlink .boking-edtlink {
    float: left;
    width: 19%;
    text-align: center;
}

.booking-desbox .boking-btnlink .boking-wricou {
    float: left;
    width: 60%;
    text-align: center;
    position: relative;
}

.booking-desbox .boking-btnlink .boking-canclebox {
    float: left;
    width: 21%;
    text-align: center;
}

.booking-desbox .boking-btnlink .boking-edtlink a:before {
    content: "\f044";
    font-family: fontawesome;
    margin-right: 4px;
}

.boking-btnlink a {
    font-size: 16px;
    color: #7ecd0d;
}


.booking-desbox .boking-btnlink .boking-wricou:before {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    left: 10px;
    top: 2px;
}

.booking-desbox .boking-btnlink .boking-wricou:after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    right: 7px;
    top: 2px;
}

.booking-blok {
    box-shadow: 0px 1px 10px 6px #e6e6e6;
}

.booking-mainbox {
    padding-top: 20px;
}

.boking-btnlink a:hover {
    color: #8c8c8c;
}

.whitebg {
    background-color: #fff;
}

.boking-btnlink.review-btnlinks .reviewlinks,
.boking-btnlink.review-btnlinks .ratinglinks,
.boking-btnlink.review-btnlinks .photoslinks,
.boking-btnlink.review-btnlinks .videwoslinks {
    float: left;
    width: 28%;
    text-align: center;
    position: relative;
}

.boking-btnlink.review-btnlinks .reviewlinks {
    text-align: left;
    width: 22%;
}

.boking-btnlink.review-btnlinks .videwoslinks {
    text-align: right;
    width: 22%;
}

.policy-box.bold-text span {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.bookreview-box .review-texts.fullblock {
    display: block;
}

.bookreview-box .review-texts.fullblock span {
    font-size: 13px;
    color: #555;
}

.bookreview-box .rate-star {
    width: 100%;
    margin-bottom: 3px;
}

.bookreview-box .school-detail-bottom {
    margin-bottom: 5px;
}

.bookreview-box .rate-star label {
    background-color: #6bc72c;
    color: #fff;
    font-size: 14px;
    padding: 2px 14px;
    margin-left: 5px;
    position: relative;
}

.bookreview-box .rate-star label:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: -6px;
    bottom: 1px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #6bc72c;
}

.booking-desbox .boking-btnlink.review-btnlinks {
    padding: 15px 25px;
}

.boking-btnlink.review-btnlinks .ratinglinks:before {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    left: 0;
    top: 3px;
}

.boking-btnlink.review-btnlinks .ratinglinks:after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    right: 0;
    top: 3px;
}

.boking-btnlink.review-btnlinks .photoslinks:after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    right: -3px;
    top: 3px;
}

.booking-blok .booking-imgblk .pre-bachelr-label img {
    vertical-align: middle;
}

.inqri-and-addcartbox a {
    display: inline-block;
    margin: 0 10px;
    position: relative
}

.inqri-and-addcartbox a:hover {
    color: #8c8c8c;
}

.inqri-and-addcartbox a:first-child {
    margin-left: 0px;
}

.inqri-and-addcartbox a {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
    color: #70c53a;
}

.inqri-and-addcartbox a.addto-cartlink i {
    margin-right: 6px;
}

.inqri-and-addcartbox {
    margin-bottom: 10px;
}

.inqri-and-addcartbox a:after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    right: -17px;
    top: 3px;
}

.inqri-and-addcartbox a:last-child:after {
    display: none;
}

.write-cour-box a.write-btnlink {
    height: 38px;
    display: inline-block;
    padding: 0 21px;
    line-height: 35px;
    font-size: 16px;
    color: #222;
    border: 1px solid #7ecd0d;
    border-radius: 5px;
    margin-top: 8px;
}

.write-cour-box a.write-btnlink:hover {
    background-color: #7ecd0d;
    color: #fff;
}

.booking-desbox.shorlist-blk {
    padding: 20px;
}

section.innerpage-menu-box.add-greencolor ul.in-responsive {
    margin: 5px -20px;
    width: auto;
    padding: 5px 20px
}

.inner-bannerbox.green-bgcover.topgreen-border:before {
    background-image: url(../images/innerbaner-green-cover.png) !important;
}

.inner-bannerbox.green-bgcover.topgreen-border {
    height: 300px;
}

.pagetitle-box span.banerpage-icon {
    /* float: left; */
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
    width:100%;
    height: 67px;
}

.pagetitle-box span.banerpage-icon img{ width:100%; }

.pagetitle-box h2 {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    padding-left: 8px;
    margin-bottom: 0px;
    text-transform: inherit;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 0.02em;
}

.pagetitle-box {
    margin-bottom: 5px;
}

.pagebaner-allconte p {
    font-size: 18px;
    color: #fff;
}

.dotted-underline {
    border-bottom: 1px dotted #fff;
}

.business-sectionbox .leftbusinessbox {
    width: calc(100% - 275px);
    float: left;
    padding: 25px 30px;
}

.business-sectionbox .rightbusiness-box {
    float: left;
    max-width: 275px;
    width: 100%;
}

.minusmartin-top {
    margin-top: -50px;
    position: relative;
    box-shadow: 1px 3px 7px 1px #ededed;
}

.business-sectionbox .leftbusinessbox h3 {
    font-size: 24.45px;
    margin-bottom: 10px;
}

.business-sectionbox .leftbusinessbox p {
    font-size: 12px;
    line-height: 16px;
}

.business-sectionbox .rightbusiness-box {
    padding: 35px 28px 15px;
}

.rightleft-textbox h4 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.business-sectionbox .rightbusiness-box .rightleft-textbox {
    float: left;
    width: calc(100% - 75px);
    padding-right: 10px;
}

.business-sectionbox .rightbusiness-box .rightleft-textbox p {
    font-size: 12px;
    line-height: 16px;
}

.rightbusiness-box .rightrit-imgbox {
    max-width: 75px;
    width: 100%;
    float: left;
}

.rightleft-textbox a.download-links {
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    background-color: #ff9a00;
    padding: 0 30px 0 10px;
    line-height: 22px;
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    position: relative;
}

.rightleft-textbox a.download-links:after {
    content: "\f019";
    position: absolute;
    right: 9px;
    font-family: fontawesome;
    font-size: 12px;
    font-weight: normal;
}

.rightleft-textbox a.download-links:hover {
    background-color: #6bc72c;
}

.rightbusiness-box.cf.greybg {
    background-color: #f6f6f6;
}

section.course-section.greybg.remove30padingtop {
    padding-top: 30px;
}

.educator-blocks .school-detail-block {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow: 1px 3px 7px 1px #dadada;
}

.educator-blocks .school-image {
    border-bottom: 5px solid #7fcd0d;
}

.innerbanner-block.profi-topbox .inrbanner-leftimg img {
    border-radius: 50%;
    border: 4px solid #f9f9f9;
}

.profile-diff-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+30,8c8c8c+30,9ac17f+100&0.97+1,1+100 */
    background: -moz-linear-gradient(left, rgba(140, 140, 140, 0.97) 1%, rgba(140, 140, 140, 0.98) 30%, rgba(154, 193, 127, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(140, 140, 140, 0.97) 1%, rgba(140, 140, 140, 0.98) 30%, rgba(154, 193, 127, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(140, 140, 140, 0.97) 1%, rgba(140, 140, 140, 0.98) 30%, rgba(154, 193, 127, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78c8c8c', endColorstr='#9ac17f', GradientType=1);
    /* IE6-9 */
}

.profile-diff-bg:before {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

section.innerpage-menu-box.greenbgcolor.fixmenubox{
    position: fixed;
    top: 0;
    z-index: 99999;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding: 11px 0;
}

section.innerpage-menu-box.greenbgcolor.fixmenubox .enquiry-rightbox {
    display: none;
}

section.innerpage-menu-box.greenbgcolor.fixmenubox .iner-left-menubox {
    float: right;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.sticky-imgtit {
    display: inline-block;
    display: none;
}

.sticky-imgtit .stikimg-small {
    float: left;
    max-width: 60px;
    width: 100%;
}

.sticky-imgtit .stikimg-small img {
    display: block;
}

.sticky-imgtit .sticky-tibox {
    float: left;
    width: calc(100% - 60px);
    padding-left: 15px;
    height: 60px;
    vertical-align: middle;
}

.sticky-imgtit .sticky-tibox h4 {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky {
    display: inline-block;
    margin-top: 2px;
    width:28%;
}

section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky .imgroundedbox img {
    border-radius: 50%;
        border: 2px solid #fff;
}

.course-filter a.chosen-single {
    height: 48px !important;
    line-height: 48px !important;
}

section.popular-Educator.type {
    margin-top: 90px;
    padding: 40px 0;
}

.hidecont-box, 
.seemore-btnbox span.minus-icon, 
.seemore-btnbox.remove-btn-onclick span.plusicon {
    display: none;
}

.seemore-btnbox.remove-btn-onclick span.minus-icon {
    display: inline-block;
}

.toggle-buttonbox .select-sorbybtn, .toggle-buttonbox .selectfor-by {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.toggle-buttonbox .select-sorbybtn span, .toggle-buttonbox .selectfor-by span {
    padding: 8px 20px 8px 40px;
    background-color: #6bc72c;
    border-radius: 10px;
    color: #fff;
    display: block;
    cursor: pointer;
    position: relative;
}

.toggle-buttonbox .select-sorbybtn span i, .toggle-buttonbox .selectfor-by span i {
    position: absolute;
    left: 10px;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-buttonbox .sorby-main-drodown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    min-width: 260px;
    text-align: left;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    display: none;
}

.toggle-buttonbox .sorby-main-drodown ul li a {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid #d4d4d4;
    color: #333;
}

.toggle-buttonbox .sorby-main-drodown ul li a:hover {
    background-color: #6bc72c;
    color: #fff;
}

.toggle-buttonbox {
    text-align: right;
    padding-bottom: 15px;
}

/*.toggle-buttonbox .select-sorbybtn:hover > .sorby-main-drodown ul {
    visibility: visible;
    opacity: 1;
}*/

.dropdownmain-box .select2.select2-container {
    float: left;
    width: 20.8% !important; 
}

.dropdownmain-box .select2.select2-container .select2-selection {
    border-radius: 0px;
    width: 100%;
    border-radius: 0px !important;
    border: 1px solid #e6e4e4 !important;
    box-shadow: none !important;
    line-height: 33px !important;
    font-size: 14px;
    padding: 1px 25px 0 3px !important;
    height: 33px;
    background-color: #f9f9f9;
}

.dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow b {
    display: none;
}

.dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow:before {
    content: "\f107";
    font-family: fontawesome;
    font-size: 17px;
    top: 0;
}

span.select2-results li {
    font-size: 14px;
}

span.select2-results li.select2-results__option--highlighted {
    background: #6bc72c !important;
}

.toggle-buttonbox .sorby-main-drodown ul li.active a {
    background-color: #6bc72c;
    color: #fff;
}

ul.mega-sub-menu > li.mega-current-menu-item > a,
ul.mega-sub-menu > li.mega-current-menu-ancestor > a{
    background-color: #6dbe39 !important;
    color: #fff !important;
}

.bachlabl-leftbox {
    position: absolute;
    top: 15px;
    left: 0;
}

.two-blocks.educator-blocks .school-detail-bottom .world-ranks {
    padding-left: 11%;
    margin-top: 2px;
}

.course-imgblock .pre-bachelr-label {
    position: relative;
    top: 0px;
    background-color: #7ecd0d;
    padding: 2px 6px;
    float:left;
    left: -5px;
    opacity: 1;
    visibility: visible;
}
.white-bg.ourcourse-block .course-imgblock span.pre-bachelr-label {
    position: relative;
    top: 0;
}

.white-bg.ourcourse-block .course-imgblock span.pre-bachelr-label.pre-scholarship {
    background-color: #8c8c8c;
}
a.click-down {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.white-bg.ourcourse-block .course-imgblock span.pre-bachelr-label.pre-scholarship p {
    margin: 0;
}

.title-contentbox h2 {
    margin-bottom: 10px;
}

.title-contentbox ul, .title-contentbox ol {
    padding-left: 18px;
}

.title-contentbox ul li span, .title-contentbox ol li span {
    font-family: 'Source Sans Pro' !important;
    color: #555;
}

.title-contentbox p span a {
    color: #55d000;
    font-family: 'Source Sans Pro' !important;
}

.title-contentbox p span a:hover {
    color: #555;
}

.enquiry-form-popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
    display: none;
}

.enquiry-form-popup .maxwidth-box {
    max-width: 660px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: 50px auto;
    padding: 0 15px;
    width: 100%;
}

.maxwidth-box .whitecolor {
    background-color: #fff;
}

.maxwidth-box .padding {
    padding: 20px 40px;
}

.wpcf7 p label {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.wpcf7 p label span .wpcf7-form-control {
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #c4c4c4;
    margin-top: 5px;
    padding: 0 15px;
    font-family: 'Source Sans Pro';
}

.close-popbox a {
    width: 35px;
    height: 35px;
    position: absolute;
    right: -5px;
    top: -20px;
    background-color: #6bc72c;
    width: 35px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.close-popbox a i {
    color: #fff;
    font-size: 18px;
    line-height: 37px;
}


.close-popbox a:hover {
    background-color: #83de44;
}
.no-scroll{ overflow: hidden; }

.wpcf7 p br { display: none; }

.wpcf7 p input[type="submit"] {
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 14px;
    background-color: #6bc72c;
    font-weight: normal;
    min-width: 160px;
    color: #fff;
    cursor: pointer;
    float: none;
    margin: 15px auto 0;
    display: block;
}

.wpcf7 p input[type="submit"]:hover {
    background-color: #8c8c8c;
}

.wpcf7 p span.ajax-loader {
    display: inline-block;
    position: absolute;
    bottom: 40px;
}

.enquir-top-tit h4 {
    text-align: center;
    color: #292928;
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
}

.enquir-top-tit {
    margin-bottom: 15px;
}

.enquir-top-tit h4:after {
    content: "";
    height: 3px;
    width: 180px;
    background-color: #6bc72c;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.enquir-top-tit p {
    text-align: center;
    font-size: 15px;
}

.about-top-contebox .title-contentbox h2, .about-top-contebox .title-contentbox h3 {
    text-transform: inherit;
}

.title-contentbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-contentbox strong{
    color:#000;
    font-size: 16px;
}

.title-contentbox ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    vertical-align: middle;
    display: block;
    padding-left: 16px;
    text-align: left;
    position: relative;
    color:#000;
}

.title-contentbox ul li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #70c53a;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}

.breadcrum-box ul li a button {
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}

.breadcrum-box ul li a button:before {
    content: "\f104";
    font-family: fontawesome;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
}

.breadcrum-box ul li a button:hover {
    color: #69b937;
}

.title-contentbox ol li {
    font-size: 14px;
    color: #000;
    line-height: 20px;
}

.course-imgblock .course-heart-icon a .fa.active {
    color: #abf541;
}

body.single-course .course-section.greybg .top-title-contbox p, 
body.single-course .course-section .top-title-contbox p, 
body.single-course .our-review-section .top-title-contbox p{
    max-width: 630px;
    margin: 0 auto;
}

body.single-course .content-mainbox ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

body.single-course .content-mainbox ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    vertical-align: middle;
    display: block;
    padding-left: 16px;
    text-align: left;
    position: relative;
}

body.single-course .content-mainbox ul li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #70c53a;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}

.ourrank-rightbox .canvasjs-chart-tooltip > div {
    font-style: normal !important;
    font-size: 18px !important;
    padding: 10px !important;
    text-align: center !important;
}

body.single-course .iner-left-menubox ul li a {
    font-size: 14px;
}

body.single-course .iner-left-menubox ul li {
    margin-right: 10px;
}

.educator-blocks .school-image .educator-heart-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9999;
}

.educator-blocks .school-image .educator-heart-icon a.course-heart-click {
    color: #fff;
    height: 38px;
    width: 38px;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 50%;
    text-align: center;
    z-index: 9;
    line-height: 38px;
    display: block;    
}

.educator-blocks .school-image .educator-heart-icon .addtoshort-btn {
    position: absolute;
    background-color: #fff;
    right: 20px;
    border-radius: 3px;
    min-width: 126px;
    padding: 6px 11px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    top:68px;
}

.educator-blocks .school-image .educator-heart-icon .addtoshort-btn a {
    color: #000;
}

.educator-blocks .school-image .educator-heart-icon .addtoshort-btn a:before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 11px;
    top: -10px;
}

.educator-blocks .school-image .educator-heart-icon:hover .addtoshort-btn {
    opacity: 1;
    visibility: visible;
}

.reviwebox-block .left-riveimg-box span.rie-imgicons img {
    border-radius: 50%;
}

.school-image a.like-ico i.active {
    color: #6bc72c;
}

.ourrank-rightbox .canvasjs-chart-tooltip > div p {
    font-size: 30px;
    color: #b4b8b7;
    padding: 6px 0 10px;
}

.ourrank-rightbox .canvasjs-chart-tooltip > div .like-count i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: #efefef;
    margin: 0 3px;
    font-size: 13px;
    line-height: 24px;
    border-radius: 3px;
    color: #6bc72c;
}

.padding.whitecolor .wpcf7-form.invalid .wpcf7-validation-errors {
    margin: 0;
    padding: 10px 0;
    border: none;
    color: #ff0000;
    text-align: center;
} 
 
.padding.whitecolor .wpcf7-form.invalid input.wpcf7-not-valid {
    border: 1px solid #ff0000;
}
.padding.whitecolor .wpcf7-form.invalid span.wpcf7-not-valid-tip {
    display: none;
}

.single-course .padding.whitecolor .wpcf7-form span.course-name input.wpcf7-form-control {
    background-color: #c4c4c4;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.innerbanner-block .inrbanner-leftimg img {
    width: 100%;
} 