/** Login my account css
**/

/* Login templated */
.page-template-page-login .inner-detailbox .left-loginbox{
    float:left;
    width:49%;
    
    padding: 15px;
}

.page-template-page-login .inner-detailbox .right-register-box{
    float:right;
    width:49%;
    position: relative;
    padding: 15px;
}

.page-template-page-login .inner-detailbox .right-register-box:before {
    content: "";
    height: 95%;
    left: -14px;
    width: 0px;
    background-color: #70c53a;
    position: absolute;
}

.page-template-page-login .inner-detailbox .left-loginbox h2 {
    font-size: 24px;
    text-transform: inherit;
    margin: 0;
}

.page-template-page-login .inner-detailbox .left-loginbox p {
    line-height: normal;
}

.page-template-page-login .inner-detailbox .fb-text.form-group .form-control {
    width: 100% !important;
    max-width: 100%;
    background-color: #fff !important;
}

.page-template-page-login .inner-detailbox .fb-text.form-group label {
    margin-bottom: 6px;
    font-weight: bold;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-submit-button button {
    height: 37px;
    border: none;
    padding: 10px;
    font-size: 15px;
    background-color: #6bc72c;
    font-weight: bold;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-submit-button button:hover {
    background-color: #939997;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-account-switch a {
    color: #6bc72c;
    font-size: 17px;
    line-height: normal;
    margin: 0;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-account-switch {
    line-height: normal;
    margin: 20px 0 0 0;
    float: right;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-submit-button {
    float: left;
}

.page-template-page-login .inner-detailbox .right-register-box .erf-content-above {
    font-weight: bold;
    margin-bottom: 22px;
    font-size: 22px;
}

.page-template-page-login .inner-detailbox .right-register-box .fb-button button {
    height: 37px;
    border: none;
    padding: 10px;
    font-size: 15px;
    background-color: #6bc72c;
    font-weight: bold;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.page-template-page-login .inner-detailbox .right-register-box .fb-button button:hover,
.page-template-page-login .inner-detailbox .left-loginbox .erf-password-lost-container .fb-text button:hover{
    background-color: #939997;
}

.page-template-page-login .inner-detailbox .left-loginbox .social-networks {
    margin-top: 10px;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-password-lost-container h3 {
    font-size: 22px;
    text-transform: inherit;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-password-lost-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-password-lost-container .fb-text button {
    height: 37px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #6bc72c;
    font-weight: bold;
    width: auto;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.page-template-page-login .inner-detailbox .left-loginbox .erf-password-lost-container .erf-account-switch {
    margin: 0;
    margin-top: -39px;
}

.page-template-page-login .erf-container .parsley-errors-list li, 
.page-template-page-login .erf-container .erf-error-row, .erf-container .erf-field-error{
    font-size: 15px;
}

.page-template-page-login .inner-detailbox .right-register-box .erf_front_administration {
    display: none;
}
.page-template-page-login .inner-detailbox .right-register-box .fb-text.form-group .erf-disabled {
    background-color: #dedede !important;
}

.form-design-comon .input-name label {
    display: block;
    width: 100%;
    color: #000;
    max-width: 150px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
    float: left;
}

.form-design-comon .input-name .form-control {
    display: block;
    width: calc( 100% - 150px);
    height: 38px;
    border: 1px solid #c4c4c4;
    margin-top: 5px;
    padding: 0 15px;
    font-family: 'Source Sans Pro';
    border-radius: 4px;
    font-size: 15px;
}

.form-design-comon .input-name {
    margin-bottom: 10px;
}

.form-design-comon .input-name textarea.form-control {
    height: 100px;
    padding-top: 10px;
    resize: none;
}

.form-design-comon .input-name span.from-span-class {
    display: inline-block;
    margin-right: 10px;
}

.form-design-comon .Submit-btn input[type="button"], .form-design-comon .Submit-btn input[type="submit"] {
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 14px;
    background-color: #6bc72c;
    font-weight: normal;
    min-width: 160px;
    color: #fff;
    cursor: pointer;
    float: none;
    margin: 15px auto 0;
    display: block;
}

.form-design-comon .Submit-btn input[type="button"]:hover, 
.form-design-comon .Submit-btn input[type="submit"]:hover{
    background-color: #8c8c8c;
}

.form-design-comon.paddingbox .maxwidth-form {
    max-width: 860px;
}

.form-design-comon.paddingbox .maxwidth-form .form-control {
    background-color: #fafafa;
}

.maxwidth-form .input-name .righ-ratingmainbox {
    float: left;
    width: calc(100% - 150px);
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 20px;
}

.maxwidth-form .input-name .righ-ratingmainbox .rate-star .overal-rating-labe {
    background-color: #70c53a;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 3px 15px;
    position: relative;
    margin-left: 10px;
}

section.about-top-contebox.menu-scroll-about {
    padding-bottom: 0;
}

.maxwidth-form .input-name .righ-ratingmainbox .rate-star {
    margin-bottom: 25px;
}

.maxwidth-form .input-name .righ-ratingmainbox .rate-star .overal-rating-labe:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #70c53a transparent transparent;
}

.input-name.right-gorating {
    padding: 30px 0;
}

.input-name.right-gorating .rate-star .overal-rating-label {
    background-color: #70c53a;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 3px 15px;
    position: relative;
    margin-left: 10px;
}

.input-name.right-gorating .rate-star .overal-rating-label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #70c53a transparent transparent;
}

.form-design-comon .input-name .rit-dropdow-box {
    float: left;
    width: calc(100% - 150px);
}

.form-design-comon .input-name .rit-dropdow-box .dropdn-inline-box {
    float: left;
    width: 27.5%;
    padding-right: 15px;
}

.form-design-comon .input-name .rit-dropdow-box .dropdn-inline-box:last-child {
    width: 45%;
    padding-right: 0;
    padding-top: 15px;
}

.form-design-comon .input-name .rit-dropdow-box .dropdn-inline-box select {
    width: 100%;
    padding: 0 10px;
}

.Submit-btn.right-align-btnlink .submit-socialmedia-infomations {
    float: none !important;
    margin: 0 !important;
    display: inline-block !important;
}

.Submit-btn.right-align-btnlink {
    padding-top: 20px;
    text-align: right;
}

.Submit-btn.right-align-btnlink a.cancel-links {
    margin-right: 10px;
    color: #6bc72c;
    text-decoration: underline;
}

.header-titheaing-box {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.header-titheaing-box h4 {
    color: #000;
    font-size: 20px;
}



@media(max-width:991px){
    .page-template-page-login .inner-detailbox .right-register-box:before{
        left: -10px;
    }
}

@media(max-width:767px){
    .page-template-page-login .inner-detailbox .left-loginbox{
        width:100%;
        padding: 0px;
        margin-bottom: 20px;
    }
    .page-template-page-login .inner-detailbox .right-register-box{
        width:100%;
        padding: 0px;
    }
    .page-template-page-login .inner-detailbox .right-register-box:before{ display: none; }
    .form-design-comon .input-name label{
        max-width: 100%;
    }
    .form-design-comon .input-name .form-control{
        width: calc( 100% - 0px);
    }
    .form-design-comon .input-name label{ font-size: 14px; }
    
}

@media(max-width:639px){
    .form-design-comon .input-name .rit-dropdow-box .dropdn-inline-box{
        width:100% !important;
        padding: 0px;
    }
    .form-design-comon .input-name .rit-dropdow-box{
            width: calc(100% - 0px);
    }
}