@media(max-width:1140px){
    .inner-bannerbox:before{ width:80%; }
    .school-detail-bottom.all-reviebox .rate-star a.ratenum-like span{ margin-right: 0px; }
    .school-detail-bottom.all-reviebox .review-texts span{ margin-left: 5px; }
    .iner-left-menubox ul li{ margin-right: 20px; }
}

@media(max-width:1100px){
    
    .videogally-box .slider .next1, .videogally-box .slider .prev1{
        width: 300px;
        height: 240px;
    }
    .videogally-box .slider .next1{ margin-left: 148px; }
    .videogally-box .slider .prev1{ margin-left: -455px; }
    .videogally-box .slider .active{
        width: 610px;
        height: 306px;
        margin-left: -310px;
    }
    .videogally-box .slider{ height: 310px; }
    .iner-left-menubox ul li a{ font-size: 16px; }
    .allsub-midle-contbox .allsub-left-content{
        max-width: 335px;
        padding: 15px;
    }
    .allsub-midle-contbox .allsubjet-rigt-links{
        width: calc(100% - 335px);
    }
}


@media(max-width: 1024px) and (min-width: 767px){
    .school-image .image-overlay p {
        font-size: 14px;
        line-height: 17px;
    }
    .school-image .image-overlay{
        padding: 15px 50px 15px 15px;
    }
    
}
@media(max-width:917px) and (min-width: 768px){
    .school-image .image-overlay p {
        font-size: 11px;
        line-height: 14px;
    }
    .school-image .image-overlay span{
        margin-top:6px;
        font-size: 11px;
        line-height: 15px;
    }
}
@media(max-width:1024px){
    .testmonial-block p br{
        display: none;
    }
    .school-detail-bottom div.rate-star {
        float: left;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .reviwebox-block.renew-review-block .right-rivecontbox .revrat-box .school-detail-bottom .rate-star{ margin-bottom: 0px; }
    .school-detail-bottom div.world-ranks{
        float: left;
    }
    .innerbanner-block .inrbaner-rightcont .rate-star {
        width: auto;
    }
    
    .aboutblock-box p{ font-size: 16px;}
    .blocks-rows .aboutblock-box{ padding: 0 10px;}
    .ourrank-leftbox .school-detail-bottom div.rate-star {
        width: auto;
        margin-bottom: 10px;
    }
    .ourrank-leftbox h3{ margin-bottom: 10px; }
    .rankcout-box {
        padding: 5px 0 20px;
    }
    .enquiry-rightbox .btn.enquiry-btn,
    .enquiry-rightbox .btn.booknow-btn{
        padding: 0 15px;
    }
    .protile-tit-withbtn h3{
        font-size: 22px;
    }
    .personal-infobox .pers-blkbox {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .protile-tit-withbtn a.profile-editlink{ 
        max-width: 88px; 
        font-size: 15px;
    }
    .educat-titbox h3{ font-size: 23px;}
    .educat-titbox span { margin-left: 15px; }
    .enquiry-form-popup .maxwidth-box{
        top:20px;
        transform:inherit;
    }
    .maxwidth-box .padding{ margin-top: 20px; }
    .close-popbox a{ top:3px; }
    .pagepro-block .our-courseblk-content .school-detail-bottom .rate-star, .pagepro-block .our-courseblk-content .school-detail-bottom .review-texts{
         margin-bottom: 0px; 
    }
    .sign-lefttit-box .school-detail-bottom .rate-star {
        width: auto;
    }
    .signupro-rittop-box .sign-lefttit-box h3{
        font-size: 22px;
        line-height: 28px;
    }
    div#video-viewport video{
        width: auto;
        height: 610px;
    }
    .allsub-midle-contbox .allsubjet-rigt-links ul li a{
        font-size: 10px;
    }
    .allsub-midle-contbox .allsubjet-rigt-links ul li{
        margin-bottom: 6px;
        line-height: 8px;
    }
    .allsub-midle-contbox .allsub-left-content {
        max-width: 215px;
    }
    .allsub-midle-contbox .allsubjet-rigt-links {
        width: calc(100% - 215px);
    }
    .allsub-midle-contbox .allsub-left-content .allsub-contbox p{
        font-size: 13px;
        line-height: 17px;
    }
    .pagepro-block .inner-titwid-img .ourcourse-contbox p {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
    }
    .pagepro-block .inner-titwid-img .ourcourse-contbox h4 {
        font-size: 15px;
        padding-right: 30px;
        margin-bottom: 8px;
    }
    .pagepro-block .inner-titwid-img .ourcourse-contbox{
        padding: 15px;
    }
    .three-block.fourblock.pagepro-block .product-heart-icon{
        right:10px;
        top:10px;

        
    }
    
}

@media(max-width:1023px){
    .course-section .three-block {
        width: 50%;
    }
    .course-section .timeline-flowbox .three-block{
        width:33.33%;
    }
    .dropdownmain-box .drop-labelbox{ width:11%;}
    .dropdownmain-box .dropdown-blocks{padding-right: 20px; width:22.7%; }
    .dropdownmain-box{
        padding: 10px 15px;        
    }
    .top-title-contbox h2{ font-size: 30px; }
    .videogally-box .slider .next1, .videogally-box .slider .prev1 {
        width: 240px;
        height: 190px;
    }
    .videogally-box .slider .active {
        width: 460px;
        height: 230px;
        margin-left: -230px;
    }
    .videogally-box .slider {
        height: 232px;
    }
    .videogally-box .slider .next1 {
        margin-left: 70px;
    }
    .videogally-box .slider .prev1 {
        margin-left: -315px;
    }
    .course-section.videogallery-section .wrapper {
        max-width: 800px;
    }
    .ourrank-leftbox{
        max-width: 280px; 
        padding-right: 10px;
    }
    .ourrank-rightbox{
        width: calc(100% - 280px);
    }
    .our-ranking-box{
        padding:20px; 
    }
    .fourblock.pagepro-block {
        width: 33.33%;
    }
    .dropdownmain-box .select2.select2-container{ margin-right: 2%;}
}


@media(max-width:991px){
    .allsub-midle-contbox .allsubjet-rigt-links ul li{ width:33.33%; }
    .allsub-left-content .all-toptit h4{ font-size: 17px; }
    
    
    .allservic-blocks .left-serv-contbox{
        width:100%;
        margin-bottom: 20px;
    }
    .allservic-blocks .service-ritimgbox{ width:100%; }
    .inner-detailbox.student-mainbox .two-half{ width:100%; margin-bottom: 30px; }
    .inner-detailbox.student-mainbox .extrawidth75{ width:100%; }
    .left-contctbox .cont-leftconte-box{
        padding:15px;
    }
    .kontak-twoblk .kontackblok-box{ width:100%;}
    .inner-detailbox.contact-sectionbox .rit-contbox-img{ min-height: 400px; }
    .cf.divide-box .rate-star .like-count i{
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .cf.divide-box .rate-star .overal-rating-labe{
        padding: 3px 10px;
        font-size: 13px;
    }
    .overal-rating-labe:before{
        left: -9px;
        top: 4px;
    }

    .cf.divide-box label{
        width: 130px;
        font-size: 15px;        
    }
    .cf.divide-box .rate-star{
        width: calc(100% - 140px);
    }
}

@media(max-width:978px){
    .intro-img-wrap{
        height: auto;
    }
    /*.intro-block{
        padding: 32px 20px;
    }*/
    .intro-block h4 {
        font-size: 17px;
    }
    .introdu-box.middlebox .intro-block{
        margin-top: 17px;
        padding: 45px 40px;
    }
    .intro-block:nth-child(2), .intro-block:nth-child(4){
        padding: 37px 20px;
    }
    .university-detail h3{
        font-size: 20px;
        top: 11px;
    }
    nav.menu li a{
        margin-left: 22px;
    }
    .serach-icon {
        margin-left: 15px;
    }
    .iner-left-menubox ul li{
        margin-right: 15px;
    }
    .enquiry-rightbox .btn.enquiry-btn, .enquiry-rightbox .btn.booknow-btn{
        min-width: 125px;
    }
    section.profile-main-box .two-blocks{ 
        width:100%; 
        margin-bottom: 20px;
    }
    nav.menu{ margin-left: 40px;}
    .header-right a{ font-size: 15px; }
    /*.signprod-leftimg{
        width:100%;
    }
    .pro-imag-contbox .signpror-rightblock{ width:100%; }*/
    
}

@media(max-width:930px){
    .iner-left-menubox ul{ 
        display: none; 
        position: relative;
        z-index: 99;
    }
    .iner-left-menubox a.innermenu-linkbox {
        display: inline-block;
        margin-top: 8px;
    }    
    .iner-left-menubox ul{
        z-index: 99;
    }
    .iner-left-menubox ul li a {
        line-height: normal;
        padding: 6px 0;
        border-bottom: 1px solid #fff;
    }
     .iner-left-menubox ul li:last-child a{ border-bottom: 0px;}
    .enquiry-rightbox{ 
        float: left; margin-top: 0px;
        position: relative;
        z-index: 999;
    }
    
    .iner-left-menubox {
        float: right;        
    }
    section.innerpage-menu-box.greenbgcolor {
        padding: 15px 0;
    }
    .iner-left-menubox.aos-init.aos-animate.open-menu {
        position: absolute;
        z-index: 9;
        width: 96%;
    }
    .menu-slider-class .iner-left-menubox.aos-init.aos-animate.open-menu {
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .menu-slider-class .iner-left-menubox.aos-init.aos-animate.open-menu ul.in-responsive {
        left: 15px;
        right: 15px;
        padding: 0px;
        background-color: #8c8c8c;
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky{ width:50%; }
    .iner-left-menubox.open-menu ul.in-responsive{
        width:auto;
        margin: 0px -20px 5px;
        padding: 0px 20px;
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .iner-left-menubox .innermenu-linkbox {
        margin-top: 20px;
    }   
    section.innerpage-menu-box.greenbgcolor.fixmenubox .iner-left-menubox.open-menu .innermenu-linkbox {
        margin-top: 0px;
        position: absolute;
        right: 0;
        top: -40px;
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li span.sub-details-icon {
        text-align: left;
        float: none;
        max-width: 60px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li{ 
        margin-right: 0px; 
        border-bottom: 1px solid #fff;
        padding: 5px 15px;
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li:last-child{ border: none; }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li a {
        float: none;
        width: calc(100% - 60px);
        border: none;
        display: inline-block;
        vertical-align: middle;
    }
}

@media(max-width:899px){
    nav.menu {
        margin-left: 15px;
    }
    .introdu-box.middlebox .intro-block{
        padding: 56px 40px;
    }
    .baner-titbox h3{
        font-size: 20px;
    }
    .innerbanner-block .inrbaner-rightcont{
        padding-left: 15px;
        padding-right: 10px;
    }
    .inrbaner-rightcont .baner-titbox{ padding-right: 30px;}
    .inner-bannerbox:before{ width:95%; }
    .blocks-rows .aboutblock-box{
        width:33.33% !important;
        margin-bottom: 20px;
        padding: 0 15px !important;
    }
    .top-title-contbox h2{ font-size: 28px; }
    .title-contentbox h1{ font-size: 30px; } 
    #mega-menu-wrap-top #mega-menu-top.mega-menu > li > a {
        padding: 0 12px !important;
    }
    .header-right{ margin-top: 33px; }
    .lan-dropdown{ margin: 0 0 0 10px; }
    .inner-baner-cont{ max-width: 625px; } 
    #mega-menu-wrap-top #mega-menu-top > li.mega-menu-item > a.mega-menu-link{ font-size: 14px !important; }
}
@media(max-width:839px){
    .footer-column.newsletter{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-column{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter form {
        margin-top: 15px;
        margin: 13px auto;
        margin-top: 13px;
        margin-right: auto;
        margin-bottom: 13px;
        margin-left: auto;
        float: none;
        max-width: 458px;
    }
    
    .newsletter form input{
        width: 67%;
    }
    .newsletter form input[type="submit"]{
        width: 33%;
    }
    nav.menu li a {
        margin-left: 17px;
    }
    .iner-left-menubox ul li a{ font-size: 16px; }
    nav.menu {
        margin-left: 0;
    }
    .ourcourse-block .our-courseblk-content .rate-star .rate-discr{
        max-width: 300px;
    }
}
@media(max-width:799px){
    nav.menu li a {
        font-size: 15px;
        margin-left: 14px;
    }
}
@media(max-width:768px){
    .school-detail-block{
        width: 100%;
    }
    .intro-block{
        width: 100%;
        top: 0 !important;
        /*transform: none !important;*/
        margin-bottom: 20px !important;
    }
    .introduction{
        height: auto;
    }
}

@media(max-width:767px){
    .banner-course-filter {
        margin-top: 35px;
    }
    .logo-wrap {
        float: left;
        width: 100%;
        text-align: center;
    }
    .header-right {
        margin-top: 7px;
        float: right;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        text-align: center;
    }
    .lan-dropdown {
        margin: 0 4px 0 6px;
    }
    .header-right span {
        display: none;
    }
    .header-right span.profil-popupbox {
        display: inline-block;
    }

    .header-right span.profil-popupbox > a {
        font-size: 14px;
    }
    .header-right span.profil-popupbox ul li {
        text-align: left;
    }
    .header-right a.profile {
        font-size: 16px;
    }
    
    #push_left > ul {
        display: inline-block;
    }
    .popular-subjects h2{
        margin-bottom: 20px;
    }
    .recomended-school{
        margin-bottom: 0;
        padding: 57px 0 30px;
    }
    .footer-bottom div {
        float: left;
        width: 100%;
        text-align: center;
    }
    .social-icons ul li {
        float: none;
        display: inline-block;
        text-align: center;
    }
    .footer-bottom div.social-icons{
        margin-top: 23px;
    }
    h2 {
        font-size: 23px;
        line-height: 27px;
    }
    .course-filter{
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }
    .banner{
        text-align: center;
        height: auto;
    }
    .banner-text{
        margin: 0 auto;
    }
    .course-filter.search-btn{
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
    .school-details-wrap h3 {
        font-size: 18px;
    }
    .intro-block{
        transform: none !important;
    }
    .introdu-box{ width:100%; }
    .introdu-box.left .intro-block,
    .introdu-box.right .intro-block,
    .introdu-box.middlebox .intro-block{
        padding: 30px;        
    }
    .introdu-box.left .intro-block {
        margin-bottom: 0 !important;
    }
    .inner-bannerbox:before{ width:100%;}
    .top-title-contbox h2{ font-size: 25px; }
    .title-contentbox h1{ font-size: 28px; }
    .dropdownmain-box .drop-labelbox{ 
        width:100%;
        padding-right: 0px;
        text-align: center;
        margin-bottom: 10px;
    }
    .dropdownmain-box .dropdown-blocks{
        width: 46.4% !important;
        margin-bottom: 10px;
        padding-right: 0px;
        margin: 0 1.8% 10px;
        float:left;
    }
    .course-section .three-block{ width:100%; }
    
    section.innerpage-menu-box {
        padding: 15px 0;
    }
    .enquiry-rightbox{ 
        margin-top: 0px; 
        margin-top: 0px;
        position: absolute;
        z-index: 99;
        left: 15px;
    }
    
    .iner-left-menubox{ width:auto; }
    .top-title-contbox h2{ font-size: 28px; }
    .reviwebox-block{
        padding: 20px 20px 40px 20px;
    }
    .ourrank-leftbox{
        max-width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .ourrank-leftbox .all-reviebox .rate-star {
        float: none;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 0px !important;
    }
    .ourrank-leftbox .school-detail-bottom.all-reviebox {
        margin-bottom: 15px;
    }
    .our-ranking-box{
        padding: 40px 20px;
    }
    .leftrevie-box, .leftcourserevie-box{
        width: 48%;
        margin:0 1%;
    }
    .ourrank-rightbox{
        width: calc(100% - 0px);
        margin-top: 20px; 
        padding: 0 10px;
    }
    .iner-left-menubox.aos-init.aos-animate.open-menu{
        position: relative;
        width: 100%;
        z-index: 999;
    }
    .education-blockbox .educat-leftimg{
        max-width: 185px;
    }
    .education-blockbox .educat-rightcont{
        width: calc(100% - 185px);
    }
    section.course-section.education-blok-section{ padding-top: 10px; padding-bottom: 30px; }
    section.course-section {
        padding: 30px 0;
    }
    .booking-mainbox{ padding-top: 5px; }
    .paddingbox { padding: 20px; }
    .country-locationbox ul li{ font-size: 13px; }
    .business-sectionbox .leftbusinessbox{ width: calc(100% - 0px);}
    .business-sectionbox .rightbusiness-box{ max-width: 100%; }
    .pagetitle-box h2{ font-size: 27px; }
    .pagebanner-content {
        padding-right: 50px;
    }
    .educator-blocks {
        width: 100%;
    }
    .country-locationbox ul li img{
        top:0px;
    }
    .header-right a {
        font-size: 0;
    }
    header{ padding-bottom: 5px; }
    .mega-menu-toggle {
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        display: block !important;
        border-radius: 0px !important;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
    nav.menu{ width:100%; }
    #mega-menu-wrap-top .mega-menu-toggle + #mega-menu-top{
        position: fixed;
        min-height: 100%;
        height: 100%;
        max-width: 250px;
        left: -250px;
        top:0px;
        width:100%;
        z-index: 99;
        background-color: #71b347 !important;
        /*display: block !important;*/
    }
    .mega-menu-toggle.mega-menu-open {
        position: fixed;
        top: 0;
        display: inline-block;
        max-width: 35px;
        /*left: 300px;*/
    }
    #mega-menu-wrap-top .mega-menu-toggle + #mega-menu-top li.mega-menu-item > ul.mega-sub-menu{
        display: block;
    }
    #mega-menu-wrap-top ul.mega-menu > li.mega-menu-item-has-children > a:before {
        content: '\f347';
        position: absolute !important;
        right: 5px;
        color: #fff;
        top: 0;
    }
    #mega-menu-wrap-top ul.mega-menu > li.mega-menu-item-has-children.mega-toggle-on > a:before{
        content: "" !important;
    } 
    .mega-menu-toggle.mega-menu-open .mega-toggle-blocks-right {
        position: fixed;
        left: 250px;
        background-color: #71b347;
        box-shadow: 1px 0px 3px 0px #b1b1b1;        
    }
    section.innerpage-menu-box.greenbgcolor.fixmenubox .titimgsticky {
        width: 80%;
    }
    .sticky-imgtit .sticky-tibox h4 {
        font-size: 16px;
        line-height: 18px;
    }
    .dropdownmain-box .select2.select2-container {
        width: 50% !important;
        padding: 0 12px;
    }
    .dropdownmain-box .select2.select2-container .select2-selection{
        padding: 1px 10px 0 3px !important;
    }
    .dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow {
        right: 16px;
    }
    .maxwidth-box .padding {
        padding: 20px 20px;
    }
    .enquiry-form-popup .maxwidth-box{
        padding: 0 20px;
    }
    .close-popbox a{
        right: 7px;
        top: 3px;
    }
    .enquiry-form-popup .maxwidth-box{ top:5px; }
    .fourblock.pagepro-block {
        width: 50%;
    }
    .signpror-rightblock .signupro-rittop-box .sign-rit-prictbox{
        width: 100%;
        margin: 0px;
        float: right !important;
        position: relative;
        left: 0;
    }
    .signupro-rittop-box .sign-lefttit-box h3{
        font-size: 20px;
        line-height: 24px;
    }
    .blog-mainbox .left-blog-imgbox{ width:100%;}
    .blog-mainbox .right-blog-box{ width:100%; }
    .right-blog-box .ritblog-content{
        width: 95%;
        float: none;
        margin: -50px auto 0;
        padding: 15px;
    }
    .blog-mainbox .left-blog-imgbox{ min-height: 270px; }
    section.inner-bannerbox.blog-bannerbox {
        height: 200px !important;
        min-height: inherit !important;
    }
    .home-sicalbox ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .home-sicalbox ul li a {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .allsub-midle-contbox .allsub-left-content{
        max-width: 560px;
        float: none;
        margin: 20px auto 0;
    }
    .all-subje-blocks{ height: auto; }
    .allsub-midle-contbox .allsubjet-rigt-links{
        width: calc(100% - 0px);
        visibility: visible;
        opacity: 1;
        padding-top: 20px; 
    }
    .inner-detailbox.contact-sectionbox .rit-contbox-img{
        width:100%;
    }
    .inner-detailbox.contact-sectionbox .left-contctbox{
        width: 100%;
    }
    .inner-detailbox.contact-sectionbox .left-contctbox .cont-leftconte-box {
        margin: -70px 0 0 0;
    }
    .inner-detailbox.contact-sectionbox {
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-direction: column-reverse;
    }
    .inner-detailbox.contact-sectionbox .left-contctbox .table-cell {
        padding: 0 15px;
    }
    .kontak-twoblk .kontackblok-box {
        width: 50%;
    }
    .conact-formmap-section .leftcont-formbox,
    .conact-formmap-section .rightcont-mapbox{ width: 100%; }
    .conact-formmap-section{ padding-top: 0px; }
    .conact-formmap-section .leftcont-formbox{ padding-right: 0px; }
    .leftcont-formbox form .wpcf7-form-control-wrap{ margin-bottom: 15px; }
    
    .inner-detailbox.contact-sectionbox .rit-contbox-img{ min-height: 300px; }
    .main-leftrigt-secbox .left-70sidebox{
        width:100%;
        padding-right: 0px;
        margin-bottom: 30px; 
    }
    .main-leftrigt-secbox .right-30par-box{
        width: 100%;
        
    }
    .main-leftrigt-secbox .left-70sidebox .wrapper {
        padding: 0;
    }
    .feedback-feed-section .twoblocks{
        width:100%;
        margin-bottom: 30px; 
        padding: 0px;
    }
    .feedback-feed-section .twoblocks h2 {
        margin-bottom: 20px;
    }
    .title-contentbox .educ-ritpro-cont{
        width:100%;
        padding-left: 0px; 
        margin-top: 15px; 
    }
    .title-contentbox .educ-leftpro-img{
        width:100%;
        min-height: 200px; 
    }
    .videogally-box .slider .active iframe{
        height: 230px !important;
    }
    .dropdownmain-box .select2.select2-container{ margin-right: 0px; margin-bottom: 10px;}
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li span.sub-details-icon img{
        width:35px; 
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li span.sub-details-icon{
        max-width: 40px; 
        margin-right: 5px;
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox ul li{ padding: 8px; }
    .home-slider{ height: 650px; } 
    
    .video-contentbox,
    div#video-viewport{
        height: 400px;
    }
    section.banner .banner-course-filter {
        display: none;
    }
    .mobile-div-block.banner-course-filter.aos-init.aos-animate{ display: block; }
    .home-slider {
        height: auto;
        background-size:cover;
        padding: 40px 0 80px;
    }
    .cf.divide-box{
        width:100%;
    }
    .form-design-comon .input-name span.error-review{
        padding: 6px 0 3px 0px;
    }
    .inner-bannerbox{
        margin-top: 118px;
    }
    .desti-sliderbox .owl-nav button.owl-next span:before,
    .desti-sliderbox .owl-nav button.owl-prev span:before{
        font-size: 35px;
    }
    .recomm-slider-box .owl-carousel .owl-nav .owl-prev {
        left: -33px;
    }
    .recomm-slider-box .owl-carousel .owl-nav .owl-next {
        right: 46px;
    }
    .countr-detai-box{
        max-height: inherit;
        overflow: inherit;
        height: auto;
    }
    .logo-wrap a img {
        width: 115px;
    }
    .logo-wrap{
        margin-top: 10px;
    }
    .header-right {
        margin-top: 3px;
    }
    .signprod-leftimg{
        width:100%;
        max-width: 100%;
        padding-bottom: 0px;
    }
    .slidershow-box{ padding-right: 15px; }
    .pro-imag-contbox .signpror-rightblock{ width:100%; padding-left: 0px;}
    .signpror-rightblock .signupro-rittop-box{
        padding: 20px 0px 0;
    }
    .signpror-rightblock .signupro-contbox{
        padding: 0 0px 20px 0px;
    }
    .indivi-iconssli span p {
        margin-bottom: 0px !important;
        margin-left: 3px;
    }
    .produ-detail-sliderbox .owl-nav button.owl-prev{
        left: -5px;
    }
    .produ-detail-sliderbox .owl-nav button.owl-next{
        right: -5px !important;
    }
}
@media(max-width:639px){
    .innerbanner-block .inrbanner-leftimg{
        max-width: 80px;        
    }
    .innerbanner-block .inrbanner-leftimg img {
        width: 100%;
    }
    .baner-titbox h3{ font-size: 18px; }
    .inner-baner-cont{ max-width: 100%; }
    .innerbanner-block .inrbaner-rightcont{ width: calc(100% - 80px); }
    .inner-bannerbox{ height: auto; min-height: 247px; }
    .reviwebox-block .left-riveimg-box{
        max-width: 100%;
        text-align: center;
    }
    .left-riveimg-box .revrat-box h4{ text-align: center; }
    .left-riveimg-box .school-detail-bottom div.rate-star{
        float: none;
        text-align: center;margin-bottom: 10px; 
    }
    .reviwebox-block .right-rivecontbox{
        width: calc(100% - 0px);
        padding-left: 0;
    }
    .reviwebox-block a.helpfull-btn{
        left: 0;
        max-width: 83px;
        margin: 0 auto;
        bottom: 15px;
    }
    .reviwebox-block {
        padding: 20px 20px 50px 20px;
    }
    .videogally-box .slider .active{ 
        width:340px; 
        height: 170px; 
        margin-left: -173px;
    }
    .videogally-box .slider{ height: 172px; }
    .fourblock.pagepro-block {
        width: 100%;
    }
    .signupro-rittop-box .sign-lefttit-box{
        width: calc(100% - 0px);
    }
    .signpror-rightblock .signupro-rittop-box .sign-rit-prictbox{
        max-width: 100%;
        text-align: center;
    }
    .signpror-rightblock .signupro-rittop-box .sign-rit-prictbox span, .signpror-rightblock .signupro-rittop-box .sign-rit-prictbox a {
        float: none !important;
        text-align: center;
        margin-top: 0 !important;
        padding-bottom: 10px;
    }
    .signpror-rightblock .signupro-contbox{
        padding-top: 0px; 
    }
    section.inner-bannerbox.topgreen-border.greenbg-color{ min-height: inherit; }
    .allsub-midle-contbox .allsubjet-rigt-links ul li{ width:50%;}
    .allsub-midle-contbox{ padding: 0 10px; }
    .student-blocks.hallbox .stude-bgimg{
        width:200px;
    }
    .student-blocks.hallbox .stud-contbox{
        width: calc(100% - 200px);
    }
    .kontak-twoblk .kontackblok-box {
        width: 100%;
    }
    .leftcont-formbox .contact-fullbox .wpcf7-form-control-wrap{ width:100% !important; }
    .contact-fullbox span{ padding:0px !important; }
    .inner-detailbox.contact-sectionbox .rit-contbox-img{ min-height: 220px; }
    .videogally-box .slider .active iframe {
        height: 170px !important;
    }
    .reviwebox-block.renew-review-block .left-riveimg-box {
        max-width: 70px;
    }
    .reviwebox-block.renew-review-block .right-rivecontbox {
        width: calc(100% - 70px);
        padding-left: 15px;
    }
    .reviwebox-block.renew-review-block .right-rivecontbox .revrat-box h4{
        width: calc(100% - 0px);
        padding-right: 0px;
    }
    .reviwebox-block.renew-review-block .right-rivecontbox .revrat-box .school-detail-bottom{
        max-width: 100%;
    }
    .reviwebox-block.renew-review-block{
        padding-bottom: 10px;
    }
    .menu-slider-class .iner-left-menubox.aos-init.aos-animate.open-menu{
        padding-left: 0;
        padding-right: 0;
    }
    .menu-slider-class .iner-left-menubox.aos-init.aos-animate.open-menu ul.in-responsive{
        left: 0px;
        right: 0px;
    }
    .blog-details-page .inner-detailbox{
        padding: 10px;
    }
    .form-design-comon.paddingbox .maxwidth-form{
        padding: 0px;
    }
    .school-image .image-overlay .image-overlay-inner{
        font-size: 12px;
        line-height: 14px;
        padding-right: 50px;
    }
    .school-image .image-overlay{
        padding: 10px;
    }
    .educator-blocks .school-image .educator-heart-icon{
        top: -10px;
        right: -10px;
    }
}

@media(max-width:500px){
    .reviews .owl-carousel .owl-nav .owl-prev::after, .reviews .owl-carousel .owl-nav .owl-next::after {
        content: none;
    }
    .testmonial-block-innner {
        margin: 0 15px;
        padding: 45px 20px;
    }
    #reviews-slider.owl-carousel .owl-nav .owl-prev{
        left: 0;
    }
    #reviews-slider.owl-carousel .owl-nav .owl-next{
        right: 0;
    }
    h1 {
        font-size: 27px;
        line-height: 29px;
    }
    .school-image .image-overlay p {
        font-size: 12px;
        line-height: 14px;
    }
    .school-image .image-overlay span{
        margin-top:6px;
        font-size: 11px;
        line-height: 15px;
    }
    .testmonial-block-innner{
        margin: 0 22px;
    }
    .top-title-contbox h2{ font-size: 24px; }
    .title-contentbox h1{ font-size: 26px; }
    .blocks-rows .aboutblock-box{ width:50% !important; }
    .aboutblock-box p br{ display: none; }
    .education-blockbox .educat-leftimg { max-width: 100%; }
    .education-blockbox .educat-rightcont {
        width: calc(100% - 0px);
        padding-top: 10px;
        padding-left: 0;
    }
    .pagetitle-box h2{ font-size: 24px; }
    .allsub-midle-contbox .allsubjet-rigt-links ul li{ width:100%;}
    .student-blocks.hallbox .stude-bgimg{
        width:100%;
        max-width: 100%;
    }
    .student-blocks.hallbox .stud-contbox{
        width: calc(100% - 0px);
    }
    .subject-block{
        padding: 22px 15px;
    }
    
    
}
@media(max-width:480px){
    .school-image{
        overflow: hidden;
    }
    .school-image img {
        vertical-align: top;
        width: auto;
        min-height: 163px;
    }    
    .dropdownmain-box .dropdown-blocks{
        width:100% !important;
        margin:0 0 10px;
    }
    .videogally-box .slider .active {
        width: 282px;
        height: 150px;
        margin-left: -143px;
    }
    .videogally-box .slider {
        height: 150px;
    }
    .innerbanner-block .inrbanner-leftimg {
        max-width: 50px;
    }
    .innerbanner-block .inrbaner-rightcont {
        width: calc(100% - 50px);
    }
    .leftrevie-box span, .leftcourserevie-box span {
        font-size: 26px;
    }
    .leftrevie-box, .leftcourserevie-box{
        height: 75px;
        line-height: 18px;
    } 
    .school-image span.min-imgbox.educatort-logo-image img {
        min-height: auto;
        width: 70px;
    }
}

@media(max-width:479px){
/*
    .enquiry-rightbox{
        position: relative;
        left: 0px;
    }
    .enquiry-rightbox .btn.booknow-btn{
        display: block;
        margin-bottom: 5px;
    }
*/
    .enquiry-rightbox{
        position: relative;
        left: 0px;
        width:100%;
    }
    .enquiry-rightbox .btn.booknow-btn,
    .enquiry-rightbox .btn.enquiry-btn{
        min-width: 100%;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    span.enqu-lang-dropdown{ width: 100%; margin-top: 4px; }
    .iner-left-menubox a.innermenu-linkbox{ margin-top: 15px;}
    .enquiry-rightbox .btn.booknow-btn{ margin-bottom: 4px; }
    section.innerpage-menu-box.greenbgcolor {
        padding: 15px 0 10px;
    }
    .toggle-buttonbox .select-sorbybtn, .toggle-buttonbox .selectfor-by {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .toggle-buttonbox .select-sorbybtn span, .toggle-buttonbox .selectfor-by span{
        text-align: left;
        padding: 10px 20px 10px 35px;        
    }
    .toggle-buttonbox .sorby-main-drodown ul{ width:100%; }
    .dropdownmain-box .select2.select2-container {
        width: 100% !important;
        padding: 0;
    }
    .dropdownmain-box .select2.select2-container .select2-selection .select2-selection__arrow {
        right: 4px;
    }
    a.btn.publish-class.enquiry-btn {
        margin-bottom: 8px;
    }
    .right-dro-dowbox .selectfor-by span.selecte-serachby {
        display: inline-block;
        width: 100%;
    }
    .toggle-buttonbox .selectfor-by span {
        display: inline-block;
        width: 100%;
    }
}

@media(max-width:360px){
    .blocks-rows .aboutblock-box{ width:100% !important; }
}