.page-wrap-fullheight {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(left top, #2a1f30 50%, #383d44 50%);
  background: linear-gradient(to right bottom, #2a1f30 50%, #383d44 50%);
}

/* ====================================
Home Slider
==================================== */

#home-slider {
  height: 100vh;
  width: 100vw;
  position: relative;

}
.swiper-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.swiper-image {
  width: 100%;
  height: 100%;
}
.swiper-image-inner {
  background-size: cover;
  background-position: center center;
 /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-blend-mode: overlay;
}
.swiper-image-inner.swiper-image-left {
  padding: 4rem;
}
.swiper-image-left {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.swiper-slide.swiper-slide-active .swiper-image-left {
  -webkit-filter: sepia(0%);
          filter: sepia(0%);
}
/*
.swiper-image-inner.swiper-image-right {
  -webkit-filter: hue-rotate(-60deg);
          filter: hue-rotate(-60deg);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: multiply;
}
*/

.swiper-slide .wrapper{
    /*opacity: 0;
    -webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
    transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;*/
    /*-webkit-transform: translate3d(0,100%, 0);
    transform: translate3d(0,100%, 0);*/ 
}

p.paragraph {
  margin: 0;
  color: #fff;
  width: 100%;
  max-width: 1170px;
  text-align: left;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  margin-bottom: 20px;
}
.swiper-slide.swiper-slide-active .swiper-image-right {
/*  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);*/
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1 + p,
.swiper-slide.swiper-slide-active .wrapper,
.swiper-slide.swiper-slide-active .swiper-image-inner.swiper-image-right.left-detail-img,
.swiper-slide.swiper-slide-active .swiper-image-inner.swiper-image-right.right-detai-content{
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  
}
@media screen and (max-width: 960px) {
  
}
@media screen and (max-width: 640px) {
  #home-slider{
    height: 100vh;
    width: 100vw;
  }
  
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}
/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #fff;

}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  
  background: #6bc72c;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: initial;
    left: 15px;
  bottom: inherit;
    top:50%;
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.swiper-container-vertical
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 14px 0;
  display: block;
      border-radius: 50%;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube, .swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.swiper-image h1,
.swiper-image h2,
.swiper-image h3,
.swiper-image h4,
.swiper-image h5,
.swiper-image h6{
    text-transform: inherit;
    color: #fff;
    text-align: center;
    font-weight: normal;    
}


.swiper-image h1{ font-size: 60px; line-height: 64px; text-transform: capitalize;  }
.swiper-image h2{ font-size: 52px; line-height: 58px; text-transform: capitalize; }
.swiper-image h3{ font-size: 42px; line-height: 50px; text-transform: capitalize;}
.swiper-image h4{ font-size: 36px; line-height: 42px; text-transform: capitalize;}
.swiper-image h5{ font-size: 32px; line-height: 36px; text-transform: capitalize; }
.swiper-image h6{ font-size: 22px; line-height: 26px; text-transform: capitalize; } 

.title-icon h1,
.title-icon h2,
.title-icon h3{
    font-family: 'Source Sans Pro' !important;
    font-weight: 700 !important;
    text-transform: capitalize;
}

.swiper-image h2 {
    margin-bottom: 0px;
    color: #fff;
    
}

.swiper-image-inner .wrapper {
    min-height: 100%;
    position: absolute;   
    left: 0px;
    right:0px;
    max-width: 980px;
}

.swiper-image-inner ul li {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.swiper-image-inner ul li:before,
.swiper-image-inner ol li:before{
    content: "\f101";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #6bc72c;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    position: absolute;
    left: 2px;
    top: 6px;
    font-size: 13px;
    font-family: fontawesome;
    color: #fff;
    line-height: 16px;
    text-align: center;
}

.swiper-slide .swiper-image-inner:before {
    content: "";
    /*background: rgba(112, 197, 58, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
}

.swiper-image-inner a.btn {
    min-width: 150px;
    height: 40px;
    background-color: #6bc72c;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.swiper-image-inner a.btn:hover{
    opacity: 0.7;
}

.swiper-image-inner .wrapper p a {
    color: #fff;
    text-decoration: underline;
}

.swiper-image-inner .wrapper p a:hover {
    opacity: 0.8;
}

.swiper-image-inner .wrapper .table {
    min-height: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    padding:0 15px;
 
}

.swiper-image-inner .wrapper p{ font-size: 18px; line-height: 26px; margin-bottom: 10px;  }
.swiper-image-inner ul li{ font-size: 18px; line-height: 26px;}

.swiper-image-inner .wrapper ol {
    padding-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    position: relative;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet span {
    position: absolute;
    left: 28px;
    top: -13px;
    background-color: #70c53a;
    padding: 10px 15px;
    border-radius: 23px;
    min-width: 190px;
    text-align: left;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    text-transform: capitalize;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:hover > span {
    opacity: 1;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet span:before{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #70c53a;
    content: "";
    position: absolute;
    left: -7px;
    top: 10px;
}
.swiper-image-inner .wrapper ol li {
    font-size: 18px;
    color: #fff;
}

.title-icon span, .title-icon h2 {
    display: inline-block;
    vertical-align: middle; 
}

.main-leftrigt-secbox .left-70sidebox p span,
.main-leftrigt-secbox .left-70sidebox p{
    font-size: 15px;
    color: #555; 
}

@media(max-width:1024px){
    
    
}

@media(max-width:1000px){
    .swiper-image-inner .wrapper,
    .swiper-image-inner .wrapper .table{
        padding-right: 40px;
    }
}



@media(max-width:930px){
    .menu-slider-class.innerpage-menu-box .iner-left-menubox ul {
        display: none !important;
    }
    .menu-slider-class.innerpage-menu-box .iner-left-menubox.open-menu ul{
        display: block !important;
        margin: 0px !important;
    }
    section.menu-slider-class.innerpage-menu-box.greenbgcolor .iner-left-menubox .stikimg-small{
        margin-right: 16px;
    }
    
    .swiper-image h1{ font-size: 50px; line-height: 54px;  }
    .swiper-image h2{ font-size: 42px; line-height: 48px; }
    .swiper-image h3{ font-size: 36px; line-height: 42px; }
    .swiper-image h4{ font-size: 30px; line-height: 36px;  }
    .swiper-image h5{ font-size: 26px; line-height: 32px;  }
    .swiper-image h6{ font-size: 20px; line-height: 26px; } 
    .swiper-image-inner .wrapper p,
    .swiper-image-inner .wrapper ul li.swiper-image-inner .wrapper ol li,
    .swiper-image-inner .wrapper ol li,
    .swiper-image-inner ul li{
        font-size: 16px;
    }
}

@media(max-width:767px){
    .swiper-image h1{ font-size: 36px; line-height: 42px;  }
    .swiper-image h2{ font-size: 30px; line-height: 36px; }
    .swiper-image h3{ font-size: 28px; line-height: 32px; }
    .swiper-image h4{ font-size: 24px; line-height: 30px;  }
    .swiper-image h5{ font-size: 20px; line-height: 26px;  }
    .swiper-image h6{ font-size: 18px; line-height: 24px; } 
    
    .swiper-image-inner .wrapper p, 
    .swiper-image-inner .wrapper ul li.swiper-image-inner .wrapper ol li, 
    .swiper-image-inner .wrapper ol li,
    .swiper-image-inner ul li{
            font-size: 15px;
            line-height: 18px;
    }
    
}

