@media(max-width: 1024px) and (min-width: 767px){
	.school-image .image-overlay p {
	    font-size: 14px;
	    line-height: 17px;
	}
	.school-image .image-overlay{
		padding: 15px 50px 15px 15px;
	}
}
@media(max-width:917px) and (min-width: 768px){
	.school-image .image-overlay p {
	    font-size: 11px;
	    line-height: 14px;
	}
	.school-image .image-overlay span{
		margin-top:6px;
		font-size: 11px;
		line-height: 15px;
	}
}
@media(max-width:1024px){
	.testmonial-block p br{
		display: none;
	}
}
@media(max-width:978px){
	.intro-img-wrap{
		height: auto;
	}
	.intro-block{
		padding: 32px 20px;
	}
	.intro-block:nth-child(2), .intro-block:nth-child(4){
		padding: 37px 20px;
	}
	.university-detail h3{
		font-size: 20px;
		top: 11px;
	}
	nav.menu li a{
		margin-left: 22px;
	}
	.serach-icon {
    	margin-left: 15px;
	}
}
@media(max-width:899px){
	nav.menu {
	    margin-left: 15px;
	}
}
@media(max-width:839px){
	.footer-column.newsletter{
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-column{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	.newsletter form {
		margin-top: 15px;
		margin: 13px auto;
		margin-top: 13px;
		margin-right: auto;
		margin-bottom: 13px;
		margin-left: auto;
		float: none;
		max-width: 458px;
	}
	
	.newsletter form input{
		width: 67%;
	}
	.newsletter form input[type="submit"]{
		width: 33%;
	}
	nav.menu li a {
	    margin-left: 17px;
	}
}
@media(max-width:799px){
	nav.menu li a {
		font-size: 15px;
	    margin-left: 14px;
	}
}
@media(max-width:768px){
	.school-detail-block{
		width: 100%;
	}
	.intro-block{
    	width: 100%;
    	top: 0 !important;
    	transform: none !important;
    	margin-bottom: 20px !important;
    }
    .introduction{
    	height: auto;
    }
}
@media(max-width:500px){
	.school-image .image-overlay p {
	    font-size: 11px;
	    line-height: 14px;
	}
	.school-image .image-overlay span{
		margin-top:6px;
		font-size: 11px;
		line-height: 15px;
	}
	.testmonial-block-innner{
		margin: 0 22px;
	}
}
@media(max-width:767px){
	.popular-subjects h2{
		margin-bottom: 20px;
	}
	.recomended-school{
		margin-bottom: 30px;
	}
	.footer-bottom div {
	    float: left;
	    width: 100%;
	    text-align: center;
	}
	.social-icons ul li {
	    float: none;
	    display: inline-block;
	    text-align: center;
	}
	.footer-bottom div.social-icons{
		margin-top: 23px;
	}
	h2 {
		font-size: 23px;
		line-height: 27px;
	}
	.course-filter{
		width: 100%;
		margin-bottom: 10px;
	}
	.banner{
		padding: 56px 0;
		text-align: center;
		height: auto;
	}
	.banner-text{
		margin: 0 auto;
	}
	.course-filter.search-btn{
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
	}
	.school-details-wrap h3 {
    	font-size: 18px;
    }
    
}