@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
html, body{
    height: 100%;
}
.wrapper{
    max-width:1180px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
*{
    outline: none;
    box-sizing: border-box;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, ul, ol,p{ 
    padding:0; 
    margin:0; 
    font-weight: normal;
}
img{ 
    border:none; 
    padding:0; 
    margin:0; 
    outline:none !important;
}
a:hover, a:focus {
    text-decoration: none;
}
a:focus{
    outline: none !important;
}
img, a {
    outline:none !important;
    text-decoration: none;
}
body{
    margin: 0;
    overflow-x:hidden;
    font-style: normal;
    font-family: 'Source Sans Pro';
}
.banner {
    background-image: url("../images/banner.jpg");
    height: 540px;
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    background-repeat: no-repeat;
    position: relative;
}
h1{
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}
.banner-text {
    max-width: 500px;
}
.banner-text h1{
    margin-bottom: 9px;
}
p{
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #fff;
}
section{
    float: left;
    width: 100%;
}
header {
    padding: 14px 0;
    float: left;
    width: 100%;
}
.logo-wrap{
    float: left;
}
nav.menu{
    margin-left: 72px;
    float: left;
    margin-top: 20px;
}
.header-right{
    margin-top: 20px;
    float: right;
}
nav.menu li{
    float: left;
    display: inline-block;
}
nav.menu li a{
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 31px;
    font-weight: normal;
    color: #000000;
    line-height: 20px;
}
nav.menu li a:hover, .header-right a:hover{
    color: #70c53a;
}
.lan-dropdown img {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 11px;
}
.lan-dropdown {
    float: right;
    margin: 0 0 0 25px;
}
.profile img {
    position: relative;
    top: -1px;
    margin-right: 7px;
    height: 17px;
    vertical-align: middle;
}
.serach-icon{
    margin-left: 31px;
    color: #9a9a9a;
}
.header-right a{
    font-size: 16px;
    line-height:16px;
    color: #000;
    text-transform: capitalize;
}
.banner-course-filter {
    margin-top: 84px;
}
.banner-course-filter-wrap {
    max-width: 1058px;
    float: left;
    width: 100%;
    margin-top: 23px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 10px;
}
.course-filter {
    display: inline-flex;
    background-color: #fff;
    vertical-align: top;
   
    width: 26.9%;
    margin-right: 0.6%;
    position: relative;
}
.course-filter a {
    line-height: 48px;
    height: 48px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    color: #000;
     padding: 0 15px;
    width: 100%;
}
.course-filter::before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    right: 13px;
    top: 35%;
    color: #000;
}
.course-filter.search-btn {
    background-color: #7fcd0d;
    text-align: center;
    padding: 0;
    max-width: 165px;
    width: 16.1%;
    float: right;
    margin-right: 0;
}
.course-filter.search-btn:hover{
    background-color: #000;
}
.course-filter.search-btn:hover .Search{
    color: #7fcd0d;
}
.course-filter.search-btn .Search {
    background-color: transparent;
    display: block;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border: none;
    -webkit-appearance: none;
    height: 48px;
    line-height: 48px;
}
.course-filter.search-btn::before{
    content: none;
}
.course-filter ul {
    top: 50px;
    border: 1px solid #dedede;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #F8F8F8;
}
.course-filter ul li{
    list-style: none;
}
.click-down:hover {
    color: #000;
}
.click-down {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #73a25a;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 33px;
	color: #b3e293;
	font-size: 20px;
}
.popular-subjects{
    padding: 57px 0;
    text-align: center;
    margin-bottom: 25px;
}
.popular-subjects h2{
    text-transform: uppercase;
    position: relative;
}
.popular-subjects h2::before{
    content: "";
    width: 272px;
    bottom: -14px;
    background-color:#7fcd0d;
    height: 1px; 
    margin:0 auto;
}
.subject-block {
    float: left;
    padding:19px 4.5%;
}
.popular-subjects .owl-carousel .owl-item .image-text img{
    width: auto;
    display: inline-block;
}
.popular-subjects .owl-carousel .owl-nav.disabled{
    display: block !important;
}
.popular-subjects .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.popular-subjects .owl-carousel .owl-nav .owl-next, .popular-subjects .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    width: 39px;
    height: 47px;
    background-color: #b8e29d;
}
.popular-subjects .owl-carousel .owl-nav .owl-next:hover::before, .popular-subjects .owl-carousel .owl-nav .owl-prev:hover::before{
    color: #000;
}
.popular-subjects .owl-carousel .owl-nav .owl-next::before{
    content: "\f054";
    position: absolute;
    font: normal normal normal 14px/0.16 FontAwesome;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
}
.popular-subjects .owl-carousel .owl-nav .owl-prev::before{
    content: "\f053";
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}
.popular-subjects .owl-carousel .owl-nav .owl-next span, .popular-subjects .owl-carousel .owl-nav .owl-prev span{
    display: none;
}
.owl-carousel .owl-nav .owl-prev {
    left: 17px;
}
.owl-carousel .owl-nav .owl-next{
    right: 17px;
}
.subject-block-inner {
    box-shadow: 0 3px 11px 5px rgba(0,0,0,0.1);
    float: left;
    width: 100%;
}
.subject-block .image-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.sub-image{
    height: 128px;
    position: relative;
}
.sub-image .image-text img{
    width: auto;
    height: auto;
    margin-bottom: 22px;
}
.sub-bottom h4 {
    font-size: 14px;
    color: #4F4F4F;
    line-height: 20px;
    font-weight: normal;
}
.sub-bottom ul li:last-child {
    border-bottom: none;
}
.sub-bottom ul li {
    display: block;
    padding: 27px 0;
    border-bottom: 1px dotted #BBBBBB;
    width: 100%;
    float: left;
}
.sub-bottom ul li h4{
    float: left;
}
.sub-bottom {
    float: left;
    width: 100%;
    padding: 0 30px 35px;
}
.sub-bottom ul {
    float: left;
    width: 100%;
}
.sub-bottom p{
    float: right;
    font-size: 12px;
    color: #9a9a9a;
    line-height: 20px;
}
.sub-image img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.subject-block .image-text p{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 35px;
    color: #000;
    margin-bottom: 53px;
}
.view-job {
    color: #439a63;
    display: inline-block;
    border-bottom: 1px solid #439a63;
    margin-top: 7px;
}
.view-job:hover {
    color: #000000;
    border-bottom: 1px solid #000;
}
.all-subject-link a{
    width: 185px;
    height: 43px;
    border: 1px solid #b8e29d;
    line-height: 39px;
    border-radius: 4px;
    color: #b8e29d;
    background-color: transparent;
    display: inline-block;
    margin-top: 28px;
    transition: all 0.2s;
}
.all-subject-link a:hover{
    background-color: #b8e29d;
    color: #fff;
}
.recomended-school{
    padding: 57px 0;
    text-align: center;
    background-color:#f5f5f5;
}
.image-overlay {
    transition: all 0.4s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(112,197,58,0.5);
}
.school-image .image-overlay p{
    text-align: left;
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    max-width: 417px;
    width: 100%;
}
.school-image .image-overlay span{
    border: 1px solid;
    padding: 3px 10px 4px;
    line-height: 16px;
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    font-weight: normal;
}
.school-image .image-overlay {
    text-align: left;
    background-color: rgba(103,103,103,0.90);
    padding: 0 15px;
    color: #fff;
    opacity: 0;
    display: table;
    transition: all 0.4s;
}
.school-image .image-overlay .image-overlay-inner {
    display: table-cell;
    vertical-align: middle;
}
.school-detail-block:hover .school-image .image-overlay{
    opacity: 1;
}
.university-block{
	
    position: relative;
    float: left;
    display: inline-block;
    transition: all 0.4s;
    border-bottom: 6px solid transparent;
}
.university-block:hover{
    border-bottom:6px solid #70c53a;
}
.university-block:hover::after{
    opacity: 1;
}
.university-block::after{
   background-image: url("../images/down-green-arrow.png");
    background-position: top center;
    position: absolute;
    content: "";
    height: 17px;
    bottom: -23px;
    width: 38px;
    margin: 0 auto;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
}
.block-image img{
    width: 100%;
    vertical-align: top;
}
.university-detail h3{
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 9px;
     transition: all 0.4s;
     top: 27px;
     position: relative;
}
.university-detail p{
    font-weight: normal;
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.4s;
}
.university-block:hover .university-detail p{
    opacity: 1;
}
.university-block:hover .image-overlay {
    opacity: 0;
}
.university-block:hover .university-detail h3{
    opacity: 1;
    top: 0;
}
.university-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: table;
     transition: all 0.2s;
}
.detail-inner {
    display: table-cell;
    vertical-align: middle;
}
.school-detail-block {
    float: left;
    width: 48.5%;
    margin-top: 15px;
}
.school-detail-block:nth-child(even){
	float: right;
}
.school-image img{
    vertical-align: top;
    width: 100%;
}
.university-slider {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.school-detail-slider {
    margin-bottom: 25px;
    float: left;
    width: 100%;
}
.school-image {
    width: 100%;
    position: relative;
}
.school-details-wrap {
    background-color: #fff;
    padding: 22px 18px;
    float: left;
    width: 100%;
}
.school-image .like-ico:hover{
    color: #6bc72c;
}
.school-image .like-ico {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    height: 38px;
    width: 38px;
    background-color: rgba(255,255,255,0.78);
    border-radius: 50%;
    text-align: center;
    z-index: 9;
    line-height: 38px;
}
.school-detail-slider p{
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
}
.school-details-wrap h3{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 23px;
    text-align: left;
}
.school-details-wrap p{
    font-size: 14px;
    color: #000;
    line-height: 20px;
    font-weight: normal;
}
.school-flag {
    display: block;
    float: left;
    margin: 16px 0;
}
.school-detail-bottom {
    float: left;
    width: 100%;
}
.school-detail-bottom p{
    color: #9a9a9a;
    line-height: 12px;
    margin-left: 7px;
}
.school-flag img, .school-flag p{
   margin-right: 10px;
    float: left;
}
.school-detail-bottom div, .world-ranks img, .world-ranks p, .views-count img, .views-count p {
    display: inline-block;
    vertical-align: middle;
}
.school-detail-bottom .views-count{
    float: right;
    margin-top: 2px;
}
.recomended-school .bx-viewport{
    padding-bottom: 18px;
}
.school-detail-bottom div.rate-star{
    float: left;
}
.rate-star .like-count i {
	background-color: #f0f0f0;
	color: #6bc72c;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 21px;
	border-radius: 4px;
	font-size: 13px;
	margin-right: 4px;
}
.recomended-school .bx-wrapper{
	max-width: 100% !important;
	box-shadow: none;
	border: 0;
	background: transparent;
}
.bx-viewport{
	height: auto !important;
}
.school-detail-slider p{
	text-align: left;
    vertical-align: middle;
}
.rate-like {
    vertical-align: bottom;
	display: inline-block;
	margin-left: 6px;
	position: relative;
	top: 2px;
}
.rate-like img {
    vertical-align: middle;
}
.introduction{
	background: url("../images/introduction.jpg") no-repeat center center;
	background-size: cover;
	height: 553px;
	padding: 61px 0 40px;
	text-align: center;
}
.introduction h2{
	color: #fff;
}
.intro-block{
	background-color: rgba(67,154,34,0.76);
	display: inline-block;
	width: 32%;
	padding: 40px;
	vertical-align: top;
	text-align: center;
}
.intro-block p{
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
}
.reviews{
	background-color: #f5f5f5;
	text-align: center;
	padding: 57px 0;
}
.reviews h4{
	margin:16px 0;
	color: #000;
}
.reviews h2{
	margin-bottom: 41px;
}
.testmonial-block .rate-star{
	margin-bottom: 19px;
}
.reviews .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.testmonial-block p {
    font-weight: normal;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}
.testmonial-block{
	text-align: center;
}
.reviews .owl-carousel .owl-stage-outer{
	padding: 50px 0 27px;
}
.testmonial-block-innner {
    background-color: #fff;
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.15);
	padding: 45px;
	max-width: 1020px;
	margin:0 60px;
	position: relative;
}
.reviews .owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	margin:0 4px;
	border-radius: 20px;
	border:2px solid #6bc72c;
	background-color: #fff;
}
.reviews .owl-dots .owl-dot.active{
	background-color: #6bc72c;
}
.profile-wrap {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: -46px;
}
.profile-wrap img {
    border: 4px solid #6bc72c;
    border-radius: 50%;
    height: 84px;
}
h4{
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	line-height: 22px;
	margin-bottom: 5px;
}
.intro-img-wrap {
    height: 76px;
    margin-bottom: 10px;
    
}
.intro-block:nth-child(2) {
    transform: perspective(400px) rotateY(20deg);
	padding: 59px 40px;
	position: relative;
	top: -18px;
}
.intro-img-wrap img{
	vertical-align: middle;
}
.intro-block:nth-child(4){
	transform: perspective(400px) rotateY(-20deg);
	padding: 59px 40px;
	position: relative;
	top: -18px;
}
.bx-wrapper .bx-controls-direction .bx-prev, .bx-wrapper .bx-controls-direction .bx-next{
    width: 39px;
    font-size: 0;
    height: 47px;
    background-color: #fff;
    opacity: 0.61;
}
.reviews .owl-carousel .owl-nav .owl-prev, .reviews .owl-carousel .owl-nav .owl-next{
    position: absolute;
    width: 40px;
    height: 46px;
    background-color: #b8e29d;
}
.reviews .owl-carousel .owl-nav .owl-prev::after, .reviews .owl-carousel .owl-nav .owl-next::after {
    content: "";
    height: 186px;
    width: 43px;
    background-color: #fff;
    position: absolute;
    top: -150%;
    z-index: -1;
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.15);
}
.reviews .owl-carousel .owl-nav .owl-prev::after{
    left: 0;
}
.reviews .owl-carousel .owl-nav .owl-next::after{
    right: 0;
}
.bx-wrapper .bx-controls-direction .bx-next::before {
    content: "\f054";
}
.bx-wrapper .bx-controls-direction .bx-prev::before {
    content: "\f053";
}
.bx-wrapper .bx-controls-direction .bx-prev::before, .bx-wrapper .bx-controls-direction .bx-next::before {
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    top: 50%;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}
.bx-wrapper .bx-controls-direction .bx-prev:hover::before, .bx-wrapper .bx-controls-direction .bx-next:hover::before{
    color: #6bc72c;
}
.reviews .owl-nav {
	display: block !important;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-23px);
}
.reviews .owl-carousel .owl-nav .owl-prev span, .reviews .owl-carousel .owl-nav .owl-next span{
	display: none;
}
.reviews .owl-carousel .owl-nav .owl-prev::before {
    content: "\f053";
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    margin: 0 auto;
    font: normal normal normal 14px/0.16 FontAwesome;
}
.reviews .owl-carousel .owl-nav .owl-next::before {
    content: "\f054";
    position: absolute;
    font: normal normal normal 14px/0.16 FontAwesome;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
}
footer h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 15px;
    color: #646464;
    margin-bottom: 8px;
}
footer p, footer ul li a{
    font-size:12px;
    font-weight: normal;
    line-height: 16px;
    color: #8c8c8c;
}
footer ul li a:hover{
    color: #000;
}
.footer-bottom div {
    
    float: left;
}
.footer-bottom div.wrapper{
    float: none;
}
.footer-bottom div.social-icons{
    float: right;
    margin-top: 10px;
}
.footer-bottom{
    float: left;
    width: 100%;
    background-color: #e7e7e7;
    padding-top: 22px;
    padding-bottom: 19px;
}
footer ul li {
    list-style: none;
    color: #8c8c8c;
    line-height: 20px;
}
.footer-logo img {
    max-height: 58px;
}
footer{
    float: left;
    width: 100%;
    background-color: #ededed;
    padding: 30px 0 0;
}
.footer-column.newsletter {
    width: 33%;
    float: left;
}
.copyrigh-text {
    margin: 20px 0 0 23px;
}
.social-icons ul li{
    float: left;
}
.social-icons ul li a {
    font-size: 21px;
    margin-left: 7px;
    height: 36px;
    width: 36px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #d5d5d5;
    line-height: 36px;
}
footer .social-icons ul li a:hover {
    background-color: #6bc72c !important;
    color: #fff;
}
.newsletter form input {
    height: 37px;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    width: 57%;
    color: #8c8c8c;
    float: left;
}
.newsletter form{
    margin-top: 15px;
}
.newsletter form input[type="submit"] {
    height: 37px;
    border: none;
    padding: 10px;
    font-size:12px;
    background-color: #6bc72c;
    font-weight: normal;
    width: 27%;
    color: #fff;
    cursor: pointer;    
    float: left;
}
.newsletter form input[type="submit"]:hover {
    background-color:#8c8c8c; 
}
.social-icons ul li:first-child a{
    background-color: #23599c;
}
.social-icons ul li:nth-child(2) a{
    background-color:#0077ab;
}
.social-icons ul li:nth-child(3) a{
    background-color:#00aef1;
}
.social-icons ul li:nth-child(4) a{
    background-color:#e5312b;
}
.footer-top {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.footer-column.newsletter {
    width: 43%;
    float: left;
}
.footer-column {
    float: right;
    width: 18%;
}